/* second-style */

/* ==============================================================================================================
													Header 
============================================================================================================== */


.doc-menu.custom_user_registration {
    position: absolute;
    right: 10px;
    top: 60px;  
    z-index: 9999;  
}

.custom-btn {
    z-index: 2;
    color: #595959;
    padding: 0 35px;
    overflow: hidden;
    border: 2px solid #afcfec;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font: 14px/40px 'Montserrat', Arial, Helvetica, sans-serif;
    border-radius: 0;
}

.doc-menu.custom_user_registration a:hover {
    color: #fff;
}
.doc-menu.custom_user_registration .tg-login-logout ul li a:hover {
    color: #6bb4f7;
}

header .tg-login-logout li ul, header .tg-nav ul {
    border-top-color: #363636 !important;
}

h1.join-title {
    margin: 0;
}

.login-stration-title {
    color: #595959;
    display: block;
    font-family: 'bebas_neuebold';
    font-size: 26pt;
    letter-spacing: 3px;
    line-height: 32.444pt;
    margin-top: 0;
}

.home-img-wrapper img {
    height: 175px;
}

body.page-template.page-template-directory.page-template-user_search .franky-images,
body.archive.author .franky-images {
    display: none;
}

.success {
    background: #6bb4f7;
    color: #fff;
}

.docdirect-loader > div {
    background: #6bb4f7;
}
.notification_btn {
	cursor: pointer;
}

/* ==============================================================================================================
                                                    All Pages 
================================================================================================================= */
.page .tg-pagebar .sub_header h1.first_heading, .blog .tg-pagebar .sub_header h1.first_heading, .tg-pagebar .sub_header h1.first_heading {
    clear: both;
    color: #595959;
    display: block;
    font-family: 'bebas_neuebold';
    font-size: 36pt;
    letter-spacing: 5px;
    line-height: 42.444pt;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.sub_heading {
    clear: both;
    color: #595959;
    display: block;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 3px;
    line-height: 18pt;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
}

.single-post .sub_heading {
    margin: 0 0 35px 0;
    line-height: 28pt;
}

.single-post .tg-pagebar .sub_header p, 
.page .tg-pagebar .sub_header p, 
.blog .tg-pagebar .sub_header p, 
.single-problems .tg-pagebar .sub_header p, 
.single-theydo .tg-pagebar .sub_header p {
    padding: 0 10% 40px 10%;
    text-align: center;
    font-size: 17pt;
    line-height: 30pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}

.link-underline {
    text-decoration: underline;
}

.join .builder-items p a, 
.join .sub-division a,
.page .tg-pagebar .sub_header p a {
    color: #6bb4f7;
}

.join .builder-items p a:hover, 
.join .sub-division a:hover,
.page .tg-pagebar .sub_header p a:hover {
    text-decoration: underline;
}

body.about-us .builder-items div:last-child .story_inn,
body.frankys-story .builder-items div:last-child .story_inn {
    border-bottom: none;
}

.single-franky_tips .tg-pagebar .sub_header,
.single-theydo  .tg-pagebar .sub_header,
.single-problems .tg-pagebar .sub_header {
    padding-bottom: 20px;
}


/* ==============================================================================================================
													Author 
================================================================================================================= */
.tg-userdetail.custom-user_info {
    float: none;
    margin: 0 0;
}

.custom-user_info.tg-userdetail .tg-sidebar {
    width: 28%;
    float: none;
    margin: 0 auto;
}

.custom-user-content .tg-userbanner-content h1 {
    font-size: 40.37pt;
    line-height: 48.444pt;
    color: #595959;
    font-family: 'bebas_neuebold';
}
.custom-user-content .tg-userbanner-content h3 {
    color: #595959;
    font-family: 'Georgia';
    font-size: 24pt;
    line-height: 14.8pt;
    font-weight: 400;
    margin-top: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.custom-user-content .tg-userbanner-content {
    text-align: center;
}

.tg-haslayout.custom-user-content .tg-aboutuser {
    border-bottom: 2px dotted #858585;
    padding: 0px 100px 40px;
}

.custom-user-content .tg-section-map {
    margin: 40px 0 40px !important;
    padding-bottom: 40px;
    border-bottom: 2px dotted #858585;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}

div#location-pickr-map {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.custom-user-content .user-section-style {
    border-bottom: none;
    margin-bottom: 0px;
}

.custom-user-content .tg-aboutuser .tg-description {
    text-align: center;
}
.custom-user-content .tg-aboutuser .tg-description p {
    font-size: 15pt;
    line-height: 27pt;
    font-family: 'Georgia';
}

.tg-mapmarkercontent h3 {
    line-height: 25px;
}

.user-qualities {
    border-bottom: 2px dotted #858585;
    clear: both;
    padding-top: 15px;
}

.user-more-description {
    border-bottom: 2px dotted #858585;
    clear: both;
    display: block;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.custom-user-content .tg-presentationvideo, 
.custom-user-content .user-qualities, 
.custom-user-content .qualification-info, 
.custom-user-content .tg-description_of_practice, 
.custom-user-content .tg-treatment-methods {
    margin-top: 10px;
    border-bottom: 2px dotted #858585;
    clear: both;
    display: block;
    padding-bottom: 40px;
    margin-bottom: 30px;    
}

.professional-statements {
    float: none;
    }

.tg-treatment-methods .tg-userheading {
    margin-bottom: 15px;
}

.custom-user-content .tg-userexperience {
    margin-top: 20px;
}

.custom-user-content .tg-userheading h2 {
    font-family: 'bebas_neuebold';
    letter-spacing: 2px;
    font-size: 24pt;
    line-height: 36pt;
}

.tg-treatment-methods {
    width: 100%;
    float: left;
    margin: 0 0 20px;
    border-bottom: 2px dotted #858585;
    padding-bottom: 20px;
}

.custom-user_info .tg-widget.tg-widgetuserdetail {
    padding: 0px;
    border: 0px solid #ddd;
    background: #fff;
    margin-bottom: 40px;
}
.custom-user_info .tg-widget.tg-widgetuserdetail figcaption {
	display: none;
}

.tg-userschedule.user_info ul.tg-socialicon-v2 li {
    width: auto;
    margin-right: 5px;
}

.tg-userschedule.user_info ul.tg-doccontactinfo {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.tg-userschedule.user_info .tg-doccontactinfo li i {
    width: 20px;
    padding: 4px 0 0;
    text-align: left;
}

.tg-userschedule.user_info .tg-doccontactinfo li a {
    display: inline;
    float: none;
    color: #999;
}

.tg-userschedule.user_info .tg-socialicon-v2 {
    margin-top: 20px;
}

.counsellor_info ul.tg-doccontactinfo {
    margin-bottom: 20px;
}

/* ==============================================================================================================
                                                    Franky Tips 
============================================================================================================== */
.franky_tips_container h2 a {
    font-size: 24pt;
    line-height: 36.444pt;
    margin: 0 0 14px 0px;
    color: #595959;
    font-family: 'bebas_neuebold';
    letter-spacing: 3px;
    font-weight: normal;
    /*border-bottom: 2px dotted #858585;
    padding-bottom: 25px;*/
}

.franky_tips_container p {
    font-size: 14pt;
    line-height: 16pt;
    color: #595959;
    margin-bottom: 0;
    display: inline;
    font-family: 'Georgia';
}

.franky_tips_links, 
.franky_tips_links:hover, 
.franky_tips_links:active, 
.franky_tips_links:focus {
    text-decoration: underline;
    color: #595959;
}

/*.franky_tips_container {
    padding: 57px 35px;
    border: 1px solid #d6d6d6;
    margin-bottom: 50px;
}*/

.franky_tips_container {
    padding: 50px 40px 50px 40px;
    border-bottom: 2px dotted #858585;
    margin-bottom: 0px;
}

.sidebar-section .form-search fieldset input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #595959;
}

.sidebar-section .form-search fieldset input::-moz-placeholder { /* Firefox 19+ */
  color: #595959;
}

.sidebar-section .form-search fieldset input:-ms-input-placeholder { /* IE 10+ */
  color: #595959;
}

.sidebar-section .form-search fieldset input:-moz-placeholder { /* Firefox 18- */
  color: #595959;
}

.custom-btn:hover {
    background: #afcfec;
}

.add-update-tips {
    text-align: center;
    margin-bottom: 60px;
}

.add-update-tips a.btn.custom-btn {
    padding: 0 55px;
}

.franky-add-tips h2 {
    font-size: 24pt;
    line-height: 36.44pt;
    color: #595959;
    font-family: 'bebas_neuebold';
    letter-spacing: 4px;
    margin-bottom: 10px;
    margin-top: 0;
}

.add-tips .add-tips {
    padding: 40px 40px 40px 40px;
    border-bottom: 2px dotted #858585;
}

.add-tips .add-tips.last-add-tips {
    border-bottom: none;
}

.add-tips .fw-page-builder-content section.tg-main-section {
    padding-bottom: 0;
}

.add-tips .add-tips.addfirst {
    padding-top: 20px;
}

.franky-add-tips {
    margin: 0;
    line-height: 22px;
    color: #595959;
    margin-bottom: 15px;
    font-size: 16px;
}

.franky_tips_form_wrapper h2 {
    margin-top: 40px;
}

.gform_wrapper input.gform_button.button,
.franky_tips_form_wrapper input#gform_submit_button_1 {
    z-index: 2;
    color: #5d5955;
    padding: 0 35px;
    overflow: hidden;
    border: 2px solid #afcfec;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font: 14px/40px 'Montserrat', Arial, Helvetica, sans-serif;
    background: #fff;
}

.gform_wrapper input.gform_button.button:hover, .franky_tips_form_wrapper input#gform_submit_button_1:hover, .custom-btn:hover {
    background-color: #afcfec;
    color: #fff;
}

.frankys-tips.page .tg-pagebar .col-xs-12 {
    border-bottom: none;
}

.frankys-tips.page .tg-pagebar .sub_header,.tg-pagebar .sub_header {
    border-bottom: 2px dotted #858585;
}

.frankys-tips.page .tg-page-wrapper,.tg-page-wrapper {
    padding: 70px 0 40px;
}

.builder-items p {
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}

.doc-sidebar .doc-widgetheading {
    background: transparent;
    border-bottom: 0px solid #ecebeb;
}

.doc-widgetsearch .doc-widgetcontent {
    background: transparent;
    border-bottom: 2px dotted #858585;
}

.doc-widgetcontent {
    background: transparent;
}

.tips-desktop ul {
    height: 515px;
    overflow-y: scroll;
}

.tips-desktop span.post-date {
    display: block;
}

.franky_tips_container ol li, .franky_tips_container ul li {
    display: inline;
}

.franky_tips_container ol, .franky_tips_container ul {
    padding: 0;
}

.franky_tips_container ol, .franky_tips_container ul {
    padding: 0;
    display: inline;
}

.frankys-tips .franky_tips_container h2 {
    line-height: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.franky_tips_container ul li {
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}
.franky_tips_container:first-child {
    padding-top: 0px;
}
.franky_tips_container:last-child {
    border-bottom: none;
}

.single-franky_tips .single-tips-container:first-child {
    padding-top: 0;
}
.single-tips-container {
    padding: 40px 40px 40px 40px;
    border-bottom: 2px dotted #858585;
    margin-bottom: 0px;
}
.single-franky_tips .single-tips-container:last-child {
    border-bottom: none;
}
.single-franky_tips article.tg-post.tg-haslayout {
    margin-bottom: 0;
}

.single-franky_tips .tg-post-detail .tg-post .tg-description .single-tips-container p {
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}

.single-franky_tips .single-tips-container {
    padding: 40px 40px 40px 40px;
    border-bottom: 2px dotted #858585;
    margin-bottom: 0px;
}

.addblog-container {
    padding: 40px 40px 40px 40px;
    border-bottom: 2px dotted #858585;
}
.addblog-container.lastblogsection {
    border-bottom: 0;
    padding-bottom: 10px;
}
.addblog-container:first-child {
    padding-top: 10px;
}

/* ================================================================================================================= 
                                                    What Is the Problem
====================================================================================================================*/
.what-is-the-problem .tg-widget > div {
    padding: 0 15px;
    border: none;
}

.what-is-the-problem .upw-posts.hfeed {
    border: none;
    padding: 0 15px;
}

.what-is-the-problem .upw-posts .entry-meta{
    margin: 0;
    padding: 0;
}
.what-is-the-problem .upw-posts .entry-meta time,
.what-is-the-problem h4.entry-title {
    font-family: 'Georgia';
    font-weight: 200;
    display: block;
    color: #5d5955;
    margin: 0;
}

.what-is-the-problem h4.entry-title a {
    color: #5d5955;
}

.what-is-the-problem h4.entry-title a:hover{
color: #6bb4f7;
}

.what-is-the-problem h4.entry-title a:hover{
    text-decoration: none;
}

.what-is-the-problem .upw-posts article {
    display: block;
    padding: 15px 0;
    border-bottom: 1px dotted #858585;
    margin-bottom: 0;
}

.custom-post-dropdown select{
    padding: 5px 10px;
}

.custom-post-dropdown select:hover,
.custom-post-dropdown select,
.custom-post-dropdown select option:hover,
.custom-post-dropdown select option {
    cursor: pointer;
    font-family: 'Georgia';
    font-weight: 200;
    line-height: 24px;
    font-size: 18px;
}

.custom-post-dropdown .panel-title {
    display: inline-block;
    color: #545252;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'bebas_neuebold';
    letter-spacing: 2px;
    line-height: 36px;
    padding: 8px 0;
    display: block;
    text-align: center;
}

#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:100%;
   box-shadow: none;
   background: #fff url("../img/dropdown.png") no-repeat scroll 100% center;
}

/*.what-on-this-page {
    margin-bottom: 30px;
    border-bottom: 2px dotted #858585;
}*/

span.divider-line {
    border-bottom: 2px dotted #858585;
    display: block;
    padding-bottom: 20px;
}

.single-theydo .tg-post-detail .tg-post h2,
.single-problems .tg-post-detail .tg-post h2 {
    color: #595959;
    font-size: 20pt;
    letter-spacing: 5px;
    line-height: 30.44pt;
    font-family: 'bebas_neuebold';
    text-align: left;
    padding: 0px;
    margin: 0;
}

/* ================================================================================================================= 
                                                    User Login Area
====================================================================================================================*/
.visitorpatient .visitor-hidden {
    display: none;
}

.doc-listview .doc-searchresult {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 36px;
    color: #595959;
    margin-bottom: 10px;
}

.specialities-list label {
    font-size: 11pt;
    line-height: 16.8pt;
    color: #999;
    text-transform: uppercase;
    font-family: 'Georgia';
}

.whatistheproblem option, .chosen-results li, body .chosen-container-multi .chosen-choices li.search-choice, .chosen-container-multi .chosen-choices li.search-choice span {
    text-transform: uppercase;
}

body .chosen-container-multi .chosen-choices li.search-choice:hover, 
body .tg-banner-holder .tg-searcharea-v2 .tg-searchform .tg-btn, 
body .tg-tags li a.tg-btn:hover, .doc-formadvancesearch .doc-btnarea .doc-btn:hover, 
body .doc-formsearchwidget .doc-btnarea .doc-btn:hover, 
body .doc-formleavereview fieldset .doc-btn:hover, 
body .sc-dir-types .tg-packages:hover {
    border-color: #6bb4f7 !important;
    background: #6bb4f7 !important;
}

.tg-mapmarkercontent h3 a {
    color: #9ea1a6;
}

.directory-detail .tg-mapmarker figure {
    border-color: #9ea1a6;
}

.tg-packages {
    border-radius: 0px;
    background: transparent;
}

.specialities-list ul li .user-selection .tg-packages label {
    color: #363636;
    background: transparent;
    border: 1px solid #6bb4f7;
}


/* ================================================================================================================= 
                                                    User Login Area
====================================================================================================================*/
body .tg-login-logout li ul > li > a:hover i{
    color: #6bb4f7;
}

body .tg-login-logout li ul > li > a:hover {
    color: #6bb4f7;
}

body .tg-docimg .tg-uploadimg {
    border-bottom-color: #6bb4f7;
}

.tg-editimg-avatar .tg-docimg, 
.tg-editimg-banner .tg-docimg {
    width: 150px;
}

.tg-btn:hover,
body .tg-table-hover .tg-edit, 
body  .specialities-list ul li .tg-checkbox input[type="checkbox"]:checked + label{
    background: #6bb4f7;
}

body .tg-formeditprofile .tg-btn:hover{
    background: #6bb4f7;
}

body .tg-formeditprofile .tg-btn{
   border-color: #6bb4f7; 
}

body .docdirect-menu li.active a {
    color: #6bb4f7;
}

.tg-editimg-banner, .tg-editimg-avatar {
    width: 100%;
    float: left;
}

.specialities-type label i,
.specialities-type label:before {
    display: none;
}

.notification_btn {
    cursor: pointer;
}


/* ================================================================================================ 
                                        User Franky Tips 
=================================================================================================== */
.user_franky_tips_container h2 {
    font-size: 26px;
    line-height: 24px;
    margin: 0 0 20px 0px;
    color: #595959;
    font-family: 'bebas_neuebold';
    letter-spacing: 3px;
    font-weight: normal;
    border-bottom: 2px dotted #858585;
    padding-bottom: 25px;
}

.user_franky_tips_container p {
    font-size: 16px;
    line-height: 21px;
    color: #595959;
    margin-bottom: 0;
    display: inline;
}

.franky_tips_links {
    text-decoration: underline;
}

.user_franky_tips_container {
    padding: 20px 20px;
    border: 1px solid #d6d6d6;
    margin-bottom: 50px;
}

/* ================================================================================================================= 
                                                    Pagination
====================================================================================================================*/
/* Pagination */
.pagination {
    clear:both;
    position:relative;
    font-size:11px; /* Pagination text size */
    line-height:13px;
    float:right; /* Pagination float direction */
}
 
.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    color:#fff; /* Pagination text color */
    background: #555; /* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
 
.pagination a:hover{
    color:#fff;
    background: #afcfec; /* Pagination background on hover */
}
 
.pagination .current{
    padding:6px 9px 5px 9px;
    background: #afcfec; /* Current page background */
    color:#fff;
}


/* ==============================================================================================================
                                                    Ragistration Form 
============================================================================================================== */
body .custom-registration_wrapper {
    margin: 0;
    margin-top: 25px;
}

.custom-registration #gform_submit_button_5 {
    width: 100%;
    z-index: 2;
    color: #5d5955;
    font: 14px/40px 'Montserrat', Arial, Helvetica, sans-serif;
}


.custom-registration.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    font-size: inherit;
    font-family: inherit;
    padding: 0px 10px;
    letter-spacing: normal;
    font-size: 14px;
    color: #999;
}


.custom-registration.gform_wrapper .ginput_complex .ginput_left, 

.custom-registration.gform_wrapper .ginput_complex .ginput_right {
    display: block;
    width: 100%;
    padding: 0;
}

.tg-form-signin .do-login-button {
    border-color: #afcfec;
}

.tg-form-signin .do-login-button:hover {
    background: #6bb4f7;
}

body .custom-registration input.gform_button:hover {
    background: #6bb4f7;
    color: #fff !important;
}


.custom-registration_wrapper.gform_wrapper li input#choice_5_16_1, 
.custom-registration_wrapper.gform_wrapper li.hidden_label input, 
.custom-registration_wrapper .gform_wrapper li.hidden_label select {
    margin-top: 0px;
    padding: 5px 10px !important;
}

.custom-forgot-password button:hover {
    background: #6bb4f7;
}

.custom-forgot-password button {
    border-color: #afcfec;
}

.tml ul.tml-action-links {
    display: none;
}

.tml .message {
    border: 1px solid #c3daec;
    background-color: #afcfec;
    color: #fff;
}

.tml .tml-submit-wrap input:hover {
    background: #6bb4f7;
    color: #fff;
}

#theme-my-login p.tml-user-login-wrap {
    margin-bottom: 0px;
}

.tml .tml-submit-wrap input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    z-index: 2;
    color: #5d5955;
    padding: 0 35px;
    overflow: hidden;
    border: 2px solid #afcfec;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font: 14px/40px 'Montserrat', Arial, Helvetica, sans-serif;
}

.login-registration-title {
    color: #595959;
    display: block;
    font-family: 'bebas_neuebold';
    font-size: 30pt;
    letter-spacing: 3px;
    line-height: 32.444pt;
    margin-top: 0;
}

/* ==============================================================================================================
                                                    Join 
============================================================================================================== */

.page.join .tg-page-wrapper {
    padding-bottom: 60px;
    padding-top: 40px;
}

.join-wrapper {
    padding: 5% 40px 5%;
}

.join-wrapper.joinborder-bottom {
    border-bottom: 2px dotted #595959;
}

.join-wrapper h3 {
    color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 36.444pt;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.members-get span {
    font-style: italic; 
}

/*.members-get p {
    font-size: 20pt;
    line-height: 30pt;
    margin-bottom: 0px;
    font-family: 'Georgia';
    font-weight: 400;
    letter-spacing: 1.5px;
}*/

.members-get .sub-division {
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
}

.joinimg-btn {
    padding-top: 0;
}

body.join.page .tg-pagebar .sub_header p {
    padding: 0 10% 0px 10%;
    border-top: 2px dotted #858585;
    padding-top: 60px;
}

.join.page .tg-pagebar .sub_header{
border-bottom: none;
}

.join.page .tg-pagebar {
    padding: 70px 0 0;
}

.registration-template {
    border: 10px solid #595959;
    padding: 30px 30px 10px 30px;
    text-align: center;
}

.registration-template .custom-registration input {
    border: 0;
    border-bottom: 1px dotted rgb(229, 175, 188);
    text-align: center;
}

body .registration-template .gform_wrapper .gform_footer input[type=image] {
    width: 40% !important;
    margin: 0 auto !important;
    text-align: center;
}

body .registration-template .gform_wrapper .gform_footer {
    text-align: center;
    padding: 0;
}

.registration-template .custom-registration input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(229, 175, 188);
    font-size: 18pt;
    line-height: 20pt;
    font-family: 'Georgia';
    font-family: 'Georgia';
    font-weight: 400;
    letter-spacing: 1.5px;
    font-style: italic;
}
.registration-template .custom-registration input::-moz-placeholder { /* Firefox 19+ */
    color: rgb(229, 175, 188);
    font-size: 18pt;
    line-height: 20pt;
    font-family: 'Georgia';
    font-family: 'Georgia';
    font-weight: 400;
    letter-spacing: 1.5px;
    font-style: italic;
}
.registration-template .custom-registration input:-ms-input-placeholder { /* IE 10+ */
    color: rgb(229, 175, 188);
    font-size: 18pt;
    line-height: 20pt;
    font-family: 'Georgia';
    font-family: 'Georgia';
    font-weight: 400;
    letter-spacing: 1.5px;
    font-style: italic;
}
.registration-template .custom-registration input:-moz-placeholder { /* Firefox 18- */
    color: rgb(229, 175, 188);
    font-size: 18pt;
    line-height: 20pt;
    font-family: 'Georgia';
    font-family: 'Georgia';
    font-weight: 400;
    letter-spacing: 1.5px;
    font-style: italic;
}

span.border-bottom {
    text-align: center;
    height: 4px;
    background-color: #595959;
    display: inline-block;
    width: 40px;
}

.franky-images {
    display: inline-block;
    position: absolute;
    bottom: -15px;
    right: auto;
}

.tg-logoarea.custom-header-logo {
    overflow: hidden;
}

.tg-logoarea.custom-header-logo.single-pages .logo {
    padding: 15px 0 30px 0;
}

.custom-header-logo .franky-images img {
    height: 310px;
}

.joinimg-btn a {
    display: inline-block;
}
.joinimg-btn img {
    width: 330px;
    margin: 0 !important;
}


/* ==============================================================================================================
                                                    TEST DRIVE 
============================================================================================================== */

.ui-widget-content .ui-state-default {
    width: 29px;
    height: 30px;
}

.ui-datepicker-header select option {
    color: #595959;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
    color: #595959;
}

/* ==============================================================================================================
                                                    Preview Data 
============================================================================================================== */
    .single-preview_user_post .tg-likestars li:after {
        display: none;
    }
    
    .single-preview_user_post .tg-likestars li {
        padding-left: 0;
    }

    body .tg-userschedule ul li:hover em,
    body .tg-userschedule ul li span:after,
    body .tg-userschedule ul li.current a em,
    body .tg-userschedule ul li.current a span,
    body .tg-userschedule ul li:hover span{
        color: #afcfec;
    }
    
/* ==============================================================================================================
                                                    Join 
============================================================================================================== */

.join-wrapper {
    padding: 5% 40px 3.5%;
}

.join-wrapper.joinborder-bottom {
    border-bottom: 2px dotted #595959;
}

.join-wrapper h3 {
    color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 36.444pt;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.members-get span {
    font-style: italic; 
}

/*.members-get p {
    font-size: 20pt;
    line-height: 30pt;
    margin-bottom: 0px;
    font-family: 'Georgia';
    font-weight: 400;
    letter-spacing: 1.5px;
}*/

.members-get .sub-division {
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
}

.joinimg-btn {
    padding-top: 0;
}

.join.page .tg-pagebar .sub_header p {
    padding: 0 10% 40px 10%;
}

.members-get .sub-division p {
    font-size: 15pt;
}

.join-wrapper.members-get.joinborder-bottom.text-center {
    text-align: left;
}

.custom-registration #gform_submit_button_5:active,
.custom-registration #gform_submit_button_5:focus {
    border: none;
    outline: none;
}

.join-listing {
    margin-bottom: 10px;
}


/* ==============================================================================================================
                                                    Counsellor Add On Page 
============================================================================================================== */
.addon-custom-title {
    color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 36.444pt;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.add-on-page.boder-div {
    padding: 65px 40px 50px 40px;
    border-bottom: 2px dotted #858585;
}

.counsellors-add-on main#main {
    padding-top: 0px;
}

.add-on-page ul li {
    padding: 4px 0;
}

.counsellors-add-on .sub_heading {
    display: none;
}

/* ==============================================================================================================
						layout correction
================================================================================================================= */

body.about-us.page .tg-page-wrapper {
    padding: 0px 0 0px;
}

.testdrive-container {
    padding: 50px 40px 50px 40px;
    border-bottom: 2px dotted #858585;
}
.testdrive-container:last-child {
    border-bottom: none;
}

.test-drive main#main {
    padding: 0px 0 0px;
}

.prob-inner-wrapper {
    padding: 40px 40px 50px 40px;
    border-top: 2px dotted #858585;
    display: inline-block;
}
.prob_list {
    margin-bottom: 0px;
    margin-top: 0px;
}

.theydo .prob_list a h1, 
.what-is-the-problem .prob_list a h1 {
    border-top: 0px dotted #858585;
    padding-top: 0px;
    margin-bottom: 5px;
}

.theydo .tips-holder {
    padding-left: 0px;
}

.blog_section .blog-grid.blog-detail .tg-post {
    padding: 50px 40px 50px 40px;
    border-bottom: 2px dotted #858585;
    margin-bottom: 0px;
}

.tg-blogwidth.tg-landing-page.archive-post-area:first-child .tg-post {
    padding-top: 0;
}
.tg-landing-page.archive-post-area:last-child .tg-post {
    border-bottom: none;
}

.about-us .story_inn strong {
    color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 36.444pt;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.directory-search .doc-sortby .doc-select {
    font-size: 13px;
}


.font-georgia {
    font-size: 14pt;
    line-height: 20pt;
    font-family: 'Georgia';
    font-weight: 400;
    letter-spacing: 1.5px;
}

.custom-tips-blog-btn {
    float: right;
}

.page.page-template-directory .wp-editor-container {
    border-left: 2px solid #e5e5e5;
}

.single-franky_tips .tg-post-detail .tg-post h2 {
	color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 32.444pt;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.single-franky_tips .tg-post-detail .tg-post .tg-description {
    padding: 0;
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}

.single-franky_tips span.divider-line {
    padding-bottom: 40px;
}

.single-post .tg-post-detail .tg-post .tg-description p {
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}

.single-post .tg-post-detail .tg-post h2 {
	color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 32.444pt;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* ========================================= Spacing changes ========================================= */
.single-theydo .singleprob-inner-wrapper,
.single-problems .singleprob-inner-wrapper {
    padding: 50px 40px 50px 40px;
    border-top: 2px dotted #858585;
    display: block;
}

.single-theydo .singleprob-inner-wrapper.problem-index,
.single-problems .singleprob-inner-wrapper.problem-index {
    border-top: none;
}

.single-theydo .tg-description,
.single-problems .tg-description {
    margin-top: 0;
}

.single-theydo .tg-page-wrapper,
.single-problems .tg-page-wrapper {
    padding-top: 0;
}

.single-theydo .tg-description .singleprob-inner-wrapper p, 
.single-problems .tg-description .singleprob-inner-wrapper p {
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}


.padding-container {
    padding: 50px 40px 50px 40px;
    border-bottom: 2px dotted #858585;
}
.padding-container:last-child{
	border-bottom: none;
	padding-bottom: 0;
}

.privacycookies-container {
    padding: 50px 40px 50px 40px;
    border-bottom: 2px dotted #858585;
}
.privacycookies-container h2 {
    color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 36.444pt;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.privacycookies-container:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
body.privacycookies main#main {
    padding-top: 0;
}

/* ==============================================================================================================
                                                    Footer 
============================================================================================================== */


.home-full-section .select {
    background: none;
}

.home-full-section .select {
    background: none;
}

.home-full-section .select:after {
    display: none;
}

.custom-footer .col-sm-2 {
    text-align: center;
}

.footer-social a img.alignleft {
    float: left;
    margin: 5px 5px;
}

.mobile-visible {
    display: none;
}

@media (min-width: 1200px) {
	
	.custom-footer .col-sm-3, .custom-footer .col-sm-2 {
	    width: 20%;
	}
 }
 
 h2.sub_heading.get-intouch {
    text-align: left;
}

/* ==============================================================================================================
                                                Media Query
============================================================================================================== */
/* ******************* Media Query ******************* */
/* Large desktops and laptops */
@media (min-width: 1200px) {
    #doc-content {
        padding-left: 40px;
    }

    .page-section {
        padding-left: 45px;
    }

    .home-full-section .container {
        width: 1200px;
    }
    .logo a img {
        height: 245px;
    }
    .custom-header-logo img {
	    height: 245px;
	}
	.tg-logoarea.custom-header-search-btn img {
	    left: 10px;
	}
	
	
}

@media (min-width: 1025px) {
    .perfect-content {
        width: 410px;
    }
    
    .user-more-description, 
    .user-more-description, 
    .tg-presentationvideo, 
    .tg-treatment-methods, 
    .user-qualities, 
    .tg-description_of_practice, 
    .qualification-info, 
    .counsellor_info, 
    .tg-section-map {
        padding-left: 40px;
        padding-right: 40px;
    }

    .tg-presentationvideo iframe {
        height: 390px;
    }
    
    .tg-userdetail .map-controls {
	    left: 50px;
	}
	.home h1.home-intro-title {
	    font-size: 36.37pt;
	    line-height: 42.444pt;
	}
	.home .intro-content p {
	    font-size: 17pt;
	    line-height: 30pt;
	}
	
	.home .tg-home-wrapper {
	    padding: 70px 0 50px 0;
	}
	.home .home-content-wrapper h1 {
	    font-size: 36.37pt;
	}
	.tg-threecolumn.custom-footer p {
	    text-align: center;
	    font-size: 13pt;
	}
	.tg-threecolumn.custom-footer h4 {
	    text-align: center;
	}
	
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .tg-navigationarea.custom-header-menu nav ul li a {
        font-size: 16px;
    }

    .tg-logoarea.custom-header-logo {
        z-index: 9;
    }
    .doc-menu.custom_user_registration {
        z-index: 99;
        top: 60px;
    }
    .intro-content p {
        line-height: 30px;
    }

    .home-full-section {
        background: url(../img/dotted_ipad.jpg);
        display: block;
        height: 270px;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 30px 0;
        width: 100%;
        margin: 20px 0;
        background-size: cover;
    }
    
    .logo a img {
        height: 175px;
    }
    /* ======================================== Page Header =========================================== */
    .page .tg-pagebar .sub_header p, .blog .tg-pagebar .sub_header p, .single-problems .tg-pagebar .sub_header p, .single-theydo .tg-pagebar .sub_header p {
        padding: 0 5% 40px;
    }
    /* ======================================== Search Page =========================================== */
    .custom-user_info.tg-userdetail .tg-sidebar {
        width: 50%;
    }
    .gform_wrapper#gform_wrapper_3 .gfield_time_ampm select {
	    min-width: calc(2rem + 70px);
	    width: calc(3rem + 45px);
	}
	.test-drive .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]).datepicker {
	    width: 90.9%;
	    margin-right: 0 !important;
	}
	
	.franky-images {
	    bottom: -19px;
	    right: 24%;
	}
	.custom-header-logo .franky-images img {
	    height: 265px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    /* ======================================== Page Header =========================================== */
    .page .tg-pagebar .sub_header p, .blog .tg-pagebar .sub_header p, .single-problems .tg-pagebar .sub_header p, .single-theydo .tg-pagebar .sub_header p {
        padding: 0 5% 40px;
    }
    
    /* ======================================== Header =========================================== */
    .tg-navigationarea.custom-header-menu nav ul li a {
        font-size: 12px;
    }

    .tg-logoarea.custom-header-logo {
        z-index: 9;
    }
    
    .doc-menu.custom_user_registration {
        z-index: 99;
        top: 60px;
    }

    body #header .logo {
        width: 40%;
    }

    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        font-size: 24px;
        line-height: 25px;
    }
    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        width: 300px;
        height: 140px;
        background-position: bottom center;
        background-repeat: no-repeat;
        padding-top: 85px;
        background-size: 70%;
    }

    .tg-logoarea.custom-header-search-btn {
        text-align: center;
        padding-top: 50px;
    }

    .intro-content p {
        font-size: 24px;
        margin-bottom: 0;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 32px;
    }

    .home-full-section {
        background: none;
        display: block;
        height: auto;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        width: 100%;
        margin: 20px 0;
        background-size: cover;
    }

    .home-full-section .bebas {
        font-size: 30px;
        margin: 20px 0 10px 0;
    }

    .home-full-section .text-center {
        margin-bottom: 30px;
    }

    body a img.alignleft {
        float: left;
        margin: 5px 10px 10px 0;
    }

    .tg-threecolumn.custom-footer h4 {
        font-size: 13px;
    }

    .tg-threecolumn.custom-footer p {
        font-size: 14px;
    }
    .gform_wrapper .clear-multi {
	    display: inline-flex !important;
	}
	.gform_wrapper#gform_wrapper_3 .gfield_time_ampm select {
	    min-width: calc(2rem + 60px);
	    width: calc(3rem + 45px);
	}
	.test-drive .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]).datepicker {
	    width: 90%;
	    margin-right: 0 !important;
	}
	/* ============ ============= =============== Join =============== =============== =============== */
    .franky-images {
        right: 25%;
    }

    .join-wrapper {
        padding: 60px 0px 60px;
    }
    
    .custom-header-logo .franky-images img {
    height: 185px;
}
.joinimg-btn {
    padding-top: 0;
}

}

.home .hidden-640 {
    display: block;
}
.home .visible-640{
    display: none;
}

@media (min-width: 700px) and (max-width: 767px) {
    .home .hidden-640 {
        display: none;
    }
    .home .visible-640{
        display: block;
    }

    .custom-grid {
        width: 170px;
        float: left;
        margin: 0 24px;
    }

    .visible-640 {
        margin: 0 0px 0px 15%;
    }

    .home .home-full-section {
        background: url(../img/bg-640.jpg);;
        display: block;
        height: auto;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 10px 0;
        width: 100%;
        margin: 50px 0;
        background-size: cover;
    }

    .home-full-section .bebas {
        font-size: 20px;
        margin: 0;
        line-height: 28px;
    }

    .home-full-section p {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }

    .home-full-section .find p {
        padding: 0 15.6%;
    }

    .odd.text-center.find {
        margin-top: 20px;
        position: relative;
        left: 30px;
        top: 5px;
    }

    .even.text-center.review {
        margin-bottom: 80px;
        position: relative;
        top: -5px;
        left: 35px;
    }

    .home-full-section .review p {
        padding: 0 5%;
    }

    .odd.text-center.test {
        position: relative;
        top: 32px;
        left: 10px;
    }

    .home-full-section .select p {
        padding: 0 15px;
    }

    .custom-grid .even.text-center.select {
        background: none;
    }

    .even.text-center.select:after {
        display: none;
    }

    .custom-grid .even.text-center.select {
        background: none;
        position: relative;
        right: 0px;
        top: 20px;
    }
}

@media (min-width: 640px) and (max-width: 699px) {
    .home .hidden-640 {
        display: none;
    }
    .home .visible-640{
        display: block;
    }

    .custom-grid {
        width: 170px;
        float: left;
        margin: 0 24px;
    }

    .visible-640 {
        margin: 0 0px 0px 15%;
    }

    .home .home-full-section {
        background: url(../img/bg-640.jpg);;
        display: block;
        height: auto;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        width: 100%;
        margin: 50px 0;
        background-size: cover;
    }

    .home-full-section .bebas {
        font-size: 20px;
        margin: 0;
        line-height: 28px;
    }

    .home-full-section p {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }

    .home-full-section .find p {
        padding: 0 15.6%;
    }

    .odd.text-center.find {
        margin-top: 20px;
        position: relative;
        left: 15px;
        top: 5px;
    }

    .even.text-center.review {
        margin-bottom: 80px;
        position: relative;
        top: -10px;
    }

    .home-full-section .review p {
        padding: 0 5%;
    }

    .odd.text-center.test {
        position: relative;
        top: 32px;
        left: 0px;
    }

    .home-full-section .select p {
        padding: 0 15px;
    }

    .custom-grid .even.text-center.select {
        background: none;
    }

    .even.text-center.select:after {
        display: none;
    }

    .custom-grid .even.text-center.select {
        background: none;
        position: relative;
        right: 15px;
        top: 20px;
    }

    .home-img-wrapper.hidden-sm {
        width: 50%;
        display: inline-block;
        float: left;
    }

    .home-content-wrapper {
        width: 50%;
        display: inline-block;
    }

    .free-test-drive .home-img-wrapper,
    .couples-counselling .home-img-wrapper {
        margin: 12% 0;
    }


}

@media (max-width: 639px) {
    .hidden-640 {
        width: 170px;
        margin: 0 auto;
    }

    .home-full-section .bebas {
        font-size: 20px;
        margin: 0;
        line-height: 28px;
    }

    .home-full-section p {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }

    .home .home-full-section {
        background: url(../img/mobile-bg.jpg);;
        display: block;
        height: auto;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 10px 0;
        width: 100%;
        margin: 35px 0 10px 0;
        background-size: contain;
    }

    .home-content-section {
        padding: 30px 0 30px 0;
    }

    .odd.text-center.find {
        position: relative;
        top: 17px;
    }

    .even.text-center.review {
        position: relative;
        top: 30px;
    }

    .odd.text-center.test {
        position: relative;
        top: 40px;
        width: 160px;
        height: 178px;
    }

}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    /* ======================================== All Page  =========================================== */
    .page .tg-pagebar .sub_header h1.first_heading, .blog .tg-pagebar .sub_header h1.first_heading {
        font-size: 32px;
        line-height: 40px;
    }

    .page .tg-pagebar .sub_header p, .blog .tg-pagebar .sub_header p, .single-problems .tg-pagebar .sub_header p, .single-theydo .tg-pagebar .sub_header p {
        padding: 0 5% 40px;
        line-height: 30px;
    }

    .frankys-tips.page .tg-page-wrapper, .tg-page-wrapper {
        padding: 50px 0 40px;
    }

    /* ======================================== Header =========================================== */
    .doc-menu.custom_user_registration a {
        font-size: 18px;
        line-height: 24px;
    }

    .tg-inner-header .tg-navigationarea.custom-header-menu {
        text-align: left;
    }

    header .tg-nav .navbar-header {
        float: right;
        padding: 33px 0;
        position: relative;
    }

    .doc-menu.custom_user_registration {
        position: absolute;
        right: 10px;
        top: 10px;
        text-align: right;
        z-index: 999;
        display: inline-block;
        width: auto;
    }

    .tg-modaltabs-nav li {
        border-top: 0px solid transparent;
    }

    .tg-logoarea.custom-header-search-btn {
        text-align: center;
        padding-top: 20px;
    }

    .search-inner-wrapper a, 
    .search-inner-wrapper a:focus, 
    .search-inner-wrapper a:active {
        font-size: 17px;
        line-height: 16px;
    }

    .search-inner-wrapper a, 
    .search-inner-wrapper a:focus, 
    .search-inner-wrapper a:active {
        width: 300px;
        height: 101px;
        background-position: center bottom;
        background-repeat: no-repeat;
        padding-top: 65px;
        background-size: 45%;
    }

    .home header#header .logo {
        width: 100%;
        float: none;
        margin: 0 auto;
        padding: 25px 0;
    }

    header#header .logo {
        width: 100%;
        float: none;
        margin: 0 auto;
        padding: 25px 0;
    }

    .intro-content p {
        line-height: 30px;
    }

    /*.home-full-section {
        background: none;
        display: block;
        height: auto;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        width: 100%;
        margin: 20px 0;
        background-size: cover;
    }*/

    header #tg-navigation {
        z-index: 999;
    }

    .tg-logoarea.custom-header-logo {
        z-index: 99;
    }

    h1.home-intro-title {
        font-size: 32px;
        line-height: 44px;
    }

    .intro-content p {
        font-size: 11px;
        margin-bottom: 0;
        line-height: 24px;
        font-weight: 600;
    }

    .intro-content {
        padding-bottom: 0px;
    }

    .tg-footercol .tg-heading-border.tg-small {
        padding: 0 0 10px;
    }

    header .doc-menu.custom_user_registration {
        top: 30px;
    }

    header .navbar-header .navbar-toggle {
        background: #595959;
    }

    span.join-btn, span.login-btn {
        color: #fff;
        padding: 5px 15px;
    }

    /* ================================== Finding Franky Page =============================== */
    
    .page .tg-pagebar .sub_header p {
        line-height: 26px;
        font-family: Georgia,"Times New Roman",Times,serif;
    }
    
    .story_inn h4 {
        line-height: 35px;
    }

    .sub_heading {
        font-size: 24px;
        line-height: 28px;
    }

    .page .tg-pagebar .sub_header p {
        font-size: 20px;
        line-height: 26px;
        padding: 0;
        padding-bottom: 40px;
    }
    
    .page .tg-pagebar .sub_header h1.first_heading {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 3px;
    }

    .story_inn {
        padding: 65px 0px 50px 0px;
    }

    /* =============================================== Franky Tips ============================================= */
    .frankys-tips.page.page .tg-page-wrapper {
        padding: 50px 0 40px;
    }

    .tips-holder {
        margin-bottom: 50px;
    }

    .franky_tips_container {
        padding: 20px 20px;
    }

    .franky_tips_container {
        margin-bottom: 30px;
    }
    /* =============================================== Search Page ============================================= */
    .custom-user_info.tg-userdetail .tg-sidebar {
        width: 80%;
    }
    .custom-user_info .tg-widget.tg-widgetuserdetail {
        margin-bottom: 0px;
    }
    .tg-haslayout.custom-user-content .tg-aboutuser {
        padding: 0px 0px 20px;
    }
    .custom-user-content .tg-section-map {
        margin: 20px 0 40px !important;
    }
    .tg-focus-areas {
        margin-bottom: 30px;
    }
    .tg-fees_information {
        display: inline-block;
        margin-top: 30px;
    }
    .tg-userdetail .tg-doccontactinfo li address {
        max-width: 150px;
    }

    .custom-emergency-btn {
        font-size: 44.37pt;
        padding: 15px 15px;
        line-height: 55.244pt;
    }
    .footer-social {
	    text-align: center;
	    float: none;
	}
	.custom-search-sidebar {
	margin-bottom: 20px;
	}
	
	.blog .tg-widget > ul,    
    .page-template-template-franky-tips .tg-widget > ul {
        border: none;
        border-bottom: none;
    }
    .blog .tg-widget,
    .page-template-template-franky-tips .tg-widget {
        border-bottom: 2px dotted #858585;
    }
    .expand-tips-btn {
        margin: 0 auto;
    	display: block;
    }
span.post-date {
    display: block;
}
#collapseExample li {
    border-top: 1px dotted #858585;
}

	.specialities-list ul li .user-selection .tg-packages label {
	    text-align: left;
	}
/* ============ ============= =============== Join =============== =============== =============== */
    .franky-images {
        right: 0%;
    }

    .join-wrapper {
        padding: 60px 0px 60px;
    }
    body .registration-template .gform_wrapper .gform_footer input[type=image] {
	    width: 90% !important;
	}
	
	.mobile-menu {
		display: inline-block !important;
		width: 50% !important;
		text-align: center !important;
	}
	
	.doc-menu.custom_user_registration .session-user-info span {
		display: none;
	}
	
	li#menu-item-586.mobile-menu {
		background-color: #e5afbc;
		color: #fff;
	}
	
	.tg-nav #tg-navigation > ul > li#menu-item-587.mobile-menu {
		background-color: #afcfec;
		color: #fff;
		padding-right: 15px;
	}
	
	li#menu-item-586.mobile-menu a,
	li#menu-item-587.mobile-menu a {
		color: #fff;
	}
	
	.custom-login-form.tg-form-modal .form-group {
		font-size: 14px;
	}
	.tg-navigationarea.custom-header-menu nav ul li {
		padding: 15px 15px;
	}
	.custom-tips-blog-btn {
	    float: none;
	}
	button.back-button.btn {
	    margin-bottom: 20px;
	}
	.custom-user-content .tg-aboutuser .tg-description p {
	    font-size: 14pt;
	    line-height: 18.8pt;
	    font-family: 'Georgia';
	    margin-bottom: 10px;
	}
	.custom-user-content .tg-userheading  {
	    margin: 0 0 20px;
	}
	.tg-listview-v3 .tg-doctor-profile .tg-tags li .specialities-wrap span.icon-sp {
	    display: none;
	}
	.tg-listview-v3 .tg-doctor-profile .tg-tags li {
	    list-style-type: disc;
	}
	.tg-listview-v3 .tg-doctor-profile .tg-tags li .specialities-wrap {
	    display: inline-block;
	    text-transform: uppercase;
	}
	/* ================== ================== What is the problem ===================== ====================*/
	.single-theydo .singleprob-inner-wrapper, .single-problems .singleprob-inner-wrapper {
	    padding: 20px 10px;
	}
	.single-problems article.tg-post.tg-haslayout, .single-theydo article.tg-post.tg-haslayout {
	    margin-bottom: 0;
	}
	.single-problems .sub_heading, .single-theydo .sub_heading {
	    font-size: 32px;
	    line-height: 30px;
	    margin-bottom: 10px;
	}
	
	.frankys-tips .franky_tips_container h2 {
	    font-size: initial;
	    line-height: inherit;
	    margin-top: 0px;
	    margin-bottom: 10px;
	}
	
	.testdrive-container {
	    padding: 20px 10px;
	}
	.single-franky_tips .single-tips-container {
	    padding: 30px 0px;
	}
	.single-franky_tips .tg-widget > ul {
	    padding: 5px 0px;
	    border: 0px solid #ddd;
	}
	.single-franky_tips .tg-widget > h3 {
	    padding: 10px 0px;
	}
	
	body.test-drive .gform_wrapper img.ui-datepicker-trigger {
	    display: none;
	}
	
	.test-drive .gform_wrapper .top_label .time-label .gfield_label {
	    background-image: none;
	}
	.test-drive .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]).datepicker {
	    width: 100%;
	}
	.single-post.single .tg-page-wrapper {
	    padding-bottom: 20px;
	    padding-top: 20px;
	}
	.privacycookies-container {
	    padding: 20px 10px;
	}
	.privacycookies-container h2 {
	    font-size: 20pt;
	    letter-spacing: 3px;
	    line-height: 24.444pt;
	    margin-bottom: 20px;
	}
	

}

@media (max-width: 640px) {
    div#text-3 .textwidget {
        margin-top: 0px;
    }

    footer .tg-footercol {
        margin: 0 0 0px;
    }

    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        width: 250px;
        height: 70px;
        background-position: center bottom;
        background-repeat: no-repeat;
        padding-top: 40px;
        background-size: 45%;
    }

    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        font-size: 15px;
        line-height: 14px;
    }

    header .tg-nav .navbar-header {
        padding: 17px 0;
    }
    
    header .doc-menu.custom_user_registration {
	    top: 23px;
	}
    
    .doc-menu.custom_user_registration span.counsellor-btn {
        display: none;
    }

    .doc-menu.custom_user_registration span {
        margin-bottom: 8px;
        border: 2px solid #fff;
        background-color: transparent;
        padding: 2px 10px;
    }

    header .navbar-header .navbar-toggle {
        background: transparent;
    }

    header#header .logo {
        padding: 5px 0 55px 0;
    }

    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        font-size: 17px;
        line-height: 18px;
    }

    h1.home-intro-title {
        font-size: 33px;
        line-height: 34px;
        margin-bottom: 15px;
    }

    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        width: 360px;
        height: 85px;
        padding-top: 40px;
    }
    
    .footer-social {
	    text-align: center;
	    float: none;
	}
	
	.tg-threecolumn.custom-footer h4 {
	    text-align: left;
	}
	
	.gform_wrapper #gform_3 .clear-multi {
	    display: inline-flex;
	}
	.test-drive .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]).datepicker {
	    width: 100%;
	    margin-right: 0 !important;
	}
	
	.gform_wrapper#gform_wrapper_3 #gform_3 .gfield_time_ampm select {
	    min-width: calc(2rem + 65px);
	    width: calc(3rem + 35px);
	}
	
	.tg-threecolumn {
	    padding: 30px 0;
	}
	
	.footer-social {
	    margin-top: 20px;
	}

    .couples-counselling .home-content-wrapper p {
        font-size: 18px;
        line-height: 16.8pt;
        font-family: 'Georgia';
        font-weight: 400;
    }

    .frankys-tips .home-content-wrapper p {
        font-size: 13.2pt;
        line-height: 16.8pt;
        font-family: 'Georgia';
        font-weight: 400;
    }
    
    .free-test-drive .home-content-wrapper p {
        font-size: 13.2pt;
        line-height: 16.8pt;
        font-family: 'Georgia';
        font-weight: 400;
    }

    .free-test-drive .home-content-wrapper p {
        font-size: 13pt;
        line-height: 16.8pt;
        font-family: 'Georgia';
        font-weight: 400;
    }

    .home-content-wrapper h1 {
        font-size: 26pt;
        font-family: 'bebas_neuebold';
        line-height: 30pt;
        margin: 0;
        letter-spacing: 5px;
        min-height: auto;
        font-weight: normal;
    }

    .custom-emergency-btn {
        font-size: 34pt;
        padding: 15px 25px;
        line-height: 40pt;
    }

    .tg-home-wrapper {
        padding: 30px 0 30px 0;
    }

    .custom-footer #text-2 h4 {
        margin-bottom: 15px;
    }
    
    .footer-social a img.alignleft {
        margin: 5px 10px;
    }
    .add-update-tips {
	    padding-bottom: 50px;
	    border-bottom: 2px dotted #858585;
	        margin-bottom: 30px;
	}
/* ============ ============= =============== Join =============== =============== =============== */

    .custom-header-logo .franky-images img {
        height: 225px;
    }

    .franky-images {
        right: 0;
        bottom: -10px;
    }

    .join-wrapper {
        padding: 40px 0px;
    }

    .registration-template {
        padding: 30px 0px;
    }

    .members-get p {
        font-size: 14pt;
        line-height: 26pt;
    }

    .join-wrapper h3 {
        font-size: 22pt;
        line-height: 36.444pt;
    }

    .join-wrapper.joinborder-bottom.text-center.joinimg-btn {
        padding-top: 0;
    }
    .page.join .tg-page-wrapper {
	    padding-top: 40px;
	}
	.login.page .tg-page-wrapper {
	    padding-top: 0;
	}
	
	/* ============= All pages ============== */
	.addon-custom-title,
	.join-wrapper h3,
	.franky_tips_container h2,
	.franky_tips_container h2 a,
	.prob_list a h1,
	.blog_section .tg-heading-border h3 a,
	.single-theydo .tg-post-detail .tg-post h2, 
	.single-problems .tg-post-detail .tg-post h2,
	.story_inn h4,
	.single-franky_tips .tg-post-detail .tg-post h2 {
	    font-size: 20pt;
	    letter-spacing: 3px;
	    line-height: 32px;
	}
	
	.single-problems .tg-post-detail .tg-post h2 {
	    margin-top: 20px;
	    margin-bottom: 10px;
	}
	
	.single-problems span.divider-line {
	    padding-bottom: 40px;
	}
	
	.join-wrapper,
	.add-on-page.boder-div,
	.blog_section .blog-grid.blog-detail .tg-post,
	.franky_tips_container,
	.story_inn,
	.prob-inner-wrapper,
	.prob-inner-wrapper {
	    padding: 30px 20px;
	}
	.blog_section .blog-grid.blog-detail .tg-post {
	    padding-left: 20px;
	    margin-bottom: 10px;
	}
	.theydo .prob_list a.btn.custom-btn, .what-is-the-problem .prob_list a.btn.custom-btn {
	    float: none;
	}
	.page-template-template-theydo .custom-problem-dropdown {
	    padding-bottom: 0px;
	}
	
	.franky_tips_container h2 {
	    margin: 0;
	}
	
	.franky_tips_container {
	    margin-bottom: 0px;
	}
	body.join.page .tg-pagebar .sub_header p {
	    padding: 10px 10px;
	    padding-top: 30px;
	}
	.tg-userdetail .tg-aboutuser {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.tg-presentationvideo iframe {
	    width: 100%;
	    height: auto;
	}
	.custom-user-content .tg-userheading h2 {
	    font-size: 24pt;
	    line-height: 30pt;
	}
	.tg-userschedule.user_info ul.tg-doccontactinfo {
	    -moz-column-count: 1;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 1;
	    -webkit-column-gap: 20px;
	    column-count: 1;
	    column-gap: 20px;
	}
	
	.custom-user-content .tg-userheading  {
	    margin: 0 0 20px;
	}
	.tg-listview-v3 .tg-doctor-profile .tg-tags li .specialities-wrap span.icon-sp {
	    display: none;
	}
	 .tg-editimg-avatar .tg-uploadtips {
	    float: left;
	    margin-top: 20px;
	}
	
	.frankys-tips .tips-holder {
	    margin-bottom: 0px;
	}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

    header#header .logo {
        padding: 0px 0 10px 0;
    }
    
    .home header#header .logo {
        padding: 0px 0 0px 0;
    }
    
    .tg-logoarea.custom-header-search-btn img {
	    left: 8px;
	}

    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        width: 290px;
        height: 71px;
        padding-top: 40px;
    }

    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        font-size: 15px;
        line-height: 15px;
    }

    .couples-counselling .home-content-wrapper p {
        font-size: 16pt;
        line-height: 19.8pt;
    }

    .frankys-tips .home-content-wrapper p {
        font-size: 14.2pt;
        line-height: 18.8pt;
    }

    .free-test-drive .home-content-wrapper p {
        font-size: 16pt;
        line-height: 18.8pt;
    }

    .intro-content p {
        font-size: 10pt;
        margin-bottom: 0;
    }
    
    .custom-header-logo .franky-images img {
	    height: 175px;
	}
	body.page-template.page-template-login-template.page-template-template-registration.join section.tg-main-section.haslayout.default {
	    padding-bottom: 60px;
	}
	.tg-threecolumn.custom-footer p {
	    margin-bottom: 10px;
	}

}
@media (max-width: 320px) {
    header#header .logo {
        padding: 0px 0 5px 0;
    }
    
    .home header#header .logo {
        padding: 0px 0 0px 0;
    }

    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        font-size: 13px;
        line-height: 12px;
    }
    .search-inner-wrapper a, .search-inner-wrapper a:focus, .search-inner-wrapper a:active {
        width: 220px;
        height: 66px;
        padding-top: 20px;
    }
    .couples-counselling .home-content-wrapper p {
        font-size: 13pt;
        line-height: 16.8pt;
        font-family: 'Georgia';
        font-weight: 400;
    }

    .frankys-tips .home-content-wrapper p {
        font-size: 13pt;
        line-height: 16.8pt;
        font-family: 'Georgia';
        font-weight: 400;
    }
    
    .free-test-drive .home-content-wrapper p {
        font-size: 13pt;
        line-height: 16.8pt;
        font-family: 'Georgia';
        font-weight: 400;
    }

    .free-test-drive .home-content-wrapper p {
        font-size: 13pt;
        line-height: 16.8pt;
        font-family: 'Georgia';
        font-weight: 400;
    }

    .home-content-wrapper h1 {
        font-size: 26pt;
        font-family: 'bebas_neuebold';
        line-height: 30pt;
        margin: 0;
        letter-spacing: 5px;
        min-height: auto;
        font-weight: normal;
    }

    .custom-emergency-btn {
        font-size: 34pt;
        padding: 15px 25px;
        line-height: 40pt;
    }
    
    .intro-content p {
        font-size: 10pt;
        margin-bottom: 0;
    }
    .tg-navigationarea.custom-header-menu nav ul li {
	padding: 10px 15px;
	}
	.tg-navigationarea.custom-header-menu nav ul li a {
	    font-size: 15.819pt;
	    line-height: 18.383pt;
	}
	.notification_btn {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	
	
}


/* **************** **************** */
/* iPhone 5 Retina regardless of IOS version */
@media (device-height : 320px) 
   and (device-width : 480px) 
   and (-webkit-min-device-pixel-ratio: 2)
/* and (orientation : todo: you can add orientation or delete this comment)*/ {
                 /*IPhone 5 only CSS here*/
    body .hidden-640 {
        width: 200px;
        margin: 0 auto;
    }
    
    body .odd.text-center.test {
        width: 175px;
    }

    .home-full-section .select {
        background: none;
    }

    .home-full-section .select:after {
        display: none;
    }
    .tg-navigationarea.custom-header-menu nav ul li {
	    padding: 10px 15px;
	}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
/* STYLES GO HERE */
	.intro-content p {
	    font-size: 12px;
	}
	.couples-counselling .home-content-wrapper p {
	    font-size: 22px;
	    line-height: 19.8pt;
	}
}

@media screen and (device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    // css here
    body .hidden-640 {
        width: 200px;
        margin: 0 auto;
    }
    
    body .odd.text-center.test {
        width: 175px;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
    /* STYLES GO HERE */
    body .hidden-640 {
        width: 200px;
        margin: 0 auto;
    }
    
    body .odd.text-center.test {
        width: 175px;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { /* STYLES GO HERE */
	.search-btn-wrapper .search-inner-wrapper a, 
	.search-btn-wrapper .search-inner-wrapper a:focus, 
	.search-btn-wrapper .search-inner-wrapper a:active {
	    width: 200px;
	    height: 66px;
	    padding-top: 20px;
	}
}

/* *********************** Firefox css ****************************** */
@-moz-document url-prefix() {

@media (max-width: 480px) {

	body .hidden-640 {
		width: 200px;
		margin: 0 auto;
	}
	body .odd.text-center.test {
		width: 175px;
	}

}

}

/* *********************** IE Css ****************************** */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
.home-full-section {
    background-size: 125%;
}

	.tg-threecolumn.custom-footer h4 {
	    font-size: 13pt;
	}
	.desktop-visible {
	    font-size: 13pt;
	    text-align: center;
	}
	.footer-social a img.alignleft {
	    width: 30px;
	    height: 30px;
	}

}

@media all and (-ms-high-contrast:none) {
	 .tg-threecolumn.custom-footer h4 {
	    font-size: 10pt;
	}
	.desktop-visible {
	    font-size: 10pt;
	    text-align: center;
	}
	.footer-social a img.alignleft {
	    width: 26px;
	    height: 26px;
	}
	 
	 *::-ms-backdrop, .tg-threecolumn.custom-footer h4 {
	    font-size: 10pt;
	}
	*::-ms-backdrop, .desktop-visible {
	    font-size: 10pt;
	    text-align: center;
	}
	*::-ms-backdrop, .footer-social a img.alignleft {
	    width: 26px;
	    height: 26px;
	}
 }

/* ******************* Header Media Query ******************* */
    /* Large desktops and laptops */
    @media (min-width: 1200px) {
    	
	
    }

    /* Portrait tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {

    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {

    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        .tg-inner-header .tg-navigationarea.custom-header-menu {
            position: absolute;
            width: 97%;
        }
        .tg-logoarea.custom-header-logo {
            padding-top: 20px;
        }
        header .tg-nav .navbar-header {
	    z-index: 999999;
	}
	.tg-logoarea.custom-header-search-btn img {
	    left: 0px;
	}
	.mobile-visible {
	    clear: both;
	    padding-top: 20px;
	    display: block;
	}
	.desktop-visible {
	    display: none;
	}

    }

    @media (max-width: 640px) {
        body, html{
	    overflow-x: hidden;
	}
    }

    /* Portrait tablets and small desktops */
    @media (min-width: 400px) and (max-width: 639px) {
        
    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {

    }

    /* Portrait tablets and small desktops */
    @media (min-width: 321px) and (max-width: 399px) {
        
    }


    @media (max-width: 320px) {
        .custom-header-logo .franky-images img {
	    height: 145px;
	}
    }
    
    @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
	.tg-threecolumn.custom-footer h4, .tg-threecolumn.custom-footer p {
	    text-align: center;
	    margin-bottom: 10px;
	}
	.tg-footercol .textwidget {
	    text-align: center;
	}
	.footer-social {
	    text-align: center;
	    float: none;
	    display: inline-block;
	    margin: 0 auto;
	}
}