<div class="terms-and-conditions-container">
	<h2>TERMS OF USE</h2>
	<p>Welcome to Finding Franky (hereinafter referred to as the “Website”, “Site”, “We”, “Us”, “Our”), owned and operated by Finding Franky PTY LTD, with its office located at 447 Sydney Road, Balgowlah, Sydney (hereinafter referred to as the “Company”). The website is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms").</p>
	<p>Our website provides an online platform on which counsellors can create their account and profile and advice seekers can find counsellors near them via our website (collectively referred to as the “Services”). Our website acts as a facilitator for such services and all commercial / contractual terms are offered by and agreed to between counsellors and advice seekers alone. You understand and agree that we are not a party to any agreement entered into between counsellors and advice seekers. We have no control over the conduct of “Users” using our site and services, and disclaim all liability in this regard.</p>
	<p>By using the site, you agree to comply with and be legally bound by the terms and conditions of these Terms of Service ("Terms"). These terms govern your access to and use of the site and services and all collective content, and constitute a binding legal agreement between you and us.</p>
	<p>Please read carefully these terms and our Privacy Policy, which may be found at <a href="http://stagingtweakit.com/findingfranky/privacycookies/">Privacy Policy</a>, and which is incorporated by reference into these terms. If you do not agree to these terms, you have no right to obtain information from or otherwise continue using the site. Failure to use the site in accordance with these terms may subject you to civil and criminal penalties. This website reserves the right to recover the cost of services, collection charges and lawyer’s fees from persons using the site fraudulently. This website reserves the right to initiate legal proceedings against such persons for fraudulent use of the site and any other unlawful acts or acts or omissions in breach of these terms and conditions.</p>
	<p>The use of this website constitutes your consent to, and agreement to, abide by the most current version of these terms and conditions (the "Terms"). We may at any time revise these terms and conditions by updating the terms. You agree to be bound by subsequent revisions and agree to review the terms periodically for changes to the terms and conditions. The most up to date version of the terms will always be available for your review under the "Terms of Use" link that appears at the bottom of the website.</p>
	<p>PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AND A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES.</p>
	<p>IN USING THIS WEBSITE YOU ARE DEEMED TO HAVE READ AND AGREED TO THE FOLLOWING TERMS AND CONDITIONS SET FORTH HEREIN. ANY INCIDENTAL DOCUMENTS AND LINKS MENTIONED SHALL BE CONSIDERED TO BE ACCEPTED JOINTLY WITH THESE TERMS. YOU AGREE TO USE THE WEBSITE ONLY IN STRICT INTERPRETATION AND ACCEPTANCE OF THESE TERMS AND ANY ACTIONS OR COMMITMENTS MADE WITHOUT REGARD TO THESE TERMS SHALL BE AT YOUR OWN RISK. THESE TERMS AND CONDITIONS FORM PART OF THE AGREEMENT BETWEEN THE USERS AND US. BY ACCESSING THIS WEBSITE, AND/OR UNDERTAKING TO PERFORM A SERVICE BY US INDICATES YOUR UNDERSTANDING, AGREEMENT TO AND ACCEPTANCE, OF THE DISCLAIMER NOTICE AND THE FULL TERMS AND CONDITIONS CONTAINED HEREIN.</p>
</div>
<div class="terms-and-conditions-container">
	<h2>DEFINITIONS AND INTERPRETATION:</h2>
	<p>1.1 "Agreement" means the terms and conditions as detailed herein including all exhibits, privacy policy, other policies published on the website and will include the references to this agreement as amended, negated, supplemented, varied or replaced from time to time.</p>
	<p>1.2 “Counsellor” means and includes experts, psychotherapists, psychologists, social workers and mental health therapists etc. who create an account and profile on our website.</p>
	<p>1.3 “Advice seeker” means any individual who needs to avail services of the counsellors registered on our website. Advice seekers are not required to create an account on our website in order to use our services.</p>
	<p>1.4 "User/You" means and includes Counsellors and advice seekers using or accessing the services provided on this Site.</p>

	<p>1.5 “Account” means the accounts created by the Counsellors on our website in order to use the services provided by us and require information such as name, email address, password, gender, country, contact number etc . Once the counsellor creates an account on our website then the counsellor may also be referred to as members.</p>
	<p>1.6 “Content” means text, graphics, images, music, audio, video, information or other materials.</p>
	<p>1.7 “User content” means all Content that a user's posts, uploads, publishes, submits or transmits to be made available through our website including but not limited to profiles posted by counsellors, articles and blogs posted by counsellors and advice seekers etc.</p>
	<p>1.8 www.findingfranky.com.au means all content that our website makes available through the site or services, including any content licensed from a third party, but excluding user content.</p>
	<p>1.9 “SNS” means Social Networking Site such as Facebook, Twitter, Instagram etc.</p>
	<p>1.10 The official language of these terms shall be English.</p>
	<p>1.11 The headings and subheadings are merely for convenience purpose and shall not be used for interpretation.</p>
</div>
<div class="terms-and-conditions-container">
<h2> ELIGIBILITY:</h2>
<p>2.1 Use of the site is available only to persons who can form legally binding contracts under applicable law. If you are a minor i.e. under the age of 18 years, you may use this site only under the supervision of a parent or legal guardian who agrees to be bound by these Terms of Use. If your age is below that of 18 years, your parents or legal guardians can transact on behalf of you if they are registered users.</p>

<p>2.2 Our website reserves the right to terminate your membership and refuse to provide you with access to the site if we discover that you are under the age of 18 years. The site is not available to persons whose membership has been suspended or terminated by us for any reason whatsoever.</p>

<p>2.3 By using our website and its services, you represent and warrant that you are at least 18 years old and that you have the right, authority and capacity to enter into and abide by the terms and conditions of this agreement.</p>

<p>2.4 Our website may, in its sole discretion, refuse to offer access to or use of the website to any person or entity and change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access the website is revoked in such jurisdictions.</p>

<p>2.5 Except where additional terms and conditions are provided which are service specific, these terms and conditions supersede all previous representations, understandings, or agreements and shall prevail notwithstanding any variance with any other terms of any order submitted. By using the services of our website you agree to be bound by the Terms and Conditions.</p>
</div>
<div class="terms-and-conditions-container">
<h2>REGISTRATION:</h2>
<p>3.1 It is mandatory for Counsellors to create an account on our website in order to use our services. Advice seekers can use our website without creating an account on our website.</p>

<p>3.2 In order to create an account and register with us, the counsellor shall create an account directly with us.</p>

<p>3.4 If a counsellor directly wants to sign up with us and create an account directly on our website then:-</p>
<ol>
 	<li>a) counsellor must register for an account with us (an "Account") and provide certain personal information such as name, email address, contact number, password, gender, postcode.</li>
 	<li>b) Counsellor represents and warrants that all required registration information they submit is truthful and accurate, and they will maintain the accuracy of such information. Counsellors are responsible for maintaining the confidentiality of their account login information and are fully responsible for all activities that occur under their account. Counsellor agrees to immediately notify us of any unauthorized use, or suspected unauthorized use of their account or any other breach of security. Our website cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements. Counsellor must not share their password or other access credentials with any other person or entity that is not authorized to access their account. Without limiting the foregoing, counsellors are solely responsible for any activities or actions that occur under their website account access credentials. We encourage counsellors to use a “strong” password (a password that includes a combination of upper and lower case letters, numbers, and symbols) with their account. We cannot and will not be liable for any loss or damage arising from counsellor’s failure to comply with any of the above.</li>
</ol>
<p>3.5 Counsellor agrees to provide and maintain accurate, current and complete information about their account. Without limiting the foregoing, in the event counsellor changes any of their personal information as mentioned above in this agreement, counsellor will update their account information promptly.</p>

<p>3.6 When creating an account, don’t:</p>
<ol>
 	<li>a) Provide any false personal information to us (including without limitation a false username) or create an account for anyone other than yourself without such other person’s permission;</li>
 	<li>b) Use a username that is the name of another person with the intent to impersonate that person;</li>
 	<li>c) Use a username that is subject to rights of another person without appropriate authorization; or</li>
 	<li>d) Use a username that is offensive, vulgar or obscene or otherwise in bad taste.</li>
</ol>
<p>3.7 We reserve the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, false or misleading or to reclaim any username that you create through the service that violates our terms. If you have reason to believe that your account is no longer secure, then you must immediately notify us at info@findingfranky.com.au</p>

<p>3.8 You may not transfer or sell your www.findingfranky.com.au account and user ID to another party. If you are registering as a business entity, you personally guarantee that you have the authority to bind the entity to this agreement.</p>

<p>3.9 Our website reserves the right, in its sole discretion, to cancel unconfirmed or inactive accounts. Our website reserves the right to refuse service to anyone, for any reason, at any time.</p>

<p>3.10 One individual can own only one account in his/her name.</p>

<p>3.11 You agree to comply with all local laws regarding online conduct and acceptable content. You are responsible for all applicable taxes. In addition, you must abide by our website’s policies as stated in the agreement as well as all other operating rules, policies and procedures that may be published from time to time on the website by the company.</p>
</div>
<div class="terms-and-conditions-container">
<h2>SERVICES:</h2>
<p>4.1 Our websites offers an online platform on which counsellors can list themselves.</p>

<p>4.2 Our website acts as a directory for the advice seekers to find a counsellor near them.</p>

<p>4.3 The advice seekers can use our website to contact the counsellors listed on our website using the contact details provided by the counsellors on their profile available on our website.</p>

<p>4.4 Our website only lists counsellors and connects counsellors and advice seekers. Any other interaction/payment transaction between the counsellors and advice seekers shall solely be between them and we shall not be a part of any such interaction/transaction.</p>
</div>
<div class="terms-and-conditions-container">
<h2>REPRESENTATIONS AND WARRANTIES BY USERS:</h2>
<p>5.1 You understand and agree that the site is an online introductory platform only. Our website’s responsibilities are limited to facilitating the availability of the site and services.</p>

<p>5.2 You understand and agree that our website:</p>

<p>(A) does not employ, recommend or endorse any counsellors and has no control over the acts or omissions of any users;</p>

<p>(B) is not responsible or liable in any manner for the performance or conduct of any users or other third parties online or offline;</p>

<p>(C) makes no representations or warranties about the quality of the services provided by any user or about your interactions or dealings with other users; and</p>

<p>(D) Advice seekers should exercise caution and perform their own checks before interacting/meeting with anyone through the service. Our website hereby expressly disclaims, and you hereby expressly release our website from, any and all liability whatsoever for any controversies, claims, suits, injuries, loss, harm and/or damages arising from and/or in any way related to the service or your interactions or dealings with other users, including without limitation any acts and/or omissions of users online or offline.</p>

<p>(E) By using the service, you acknowledge and agree that you are solely responsible for your use of the service and the connections you make and that ALL USE OF THE SERVICE IS AT YOUR SOLE AND EXCLUSIVE RISK.</p>

<p>5.3 You agree that our website may take such action as it deems appropriate in its sole discretion, including without limitation suspending your use and/or terminating your account, should it determine, in its sole discretion, that you have violated any representation or warranty or any other provision of these Terms of Use or it otherwise determines in its sole discretion that such suspension or termination is appropriate for any reason. In the event of any suspension or termination, you agree to make no further use of the Service after termination or during suspension.</p>
</div>
<div class="terms-and-conditions-container"><h2>SUBSCRIPTION PLANS AND PAYMENTS FOR COUNSELLORS:</h2>
<p>6.1 Our website offers the following subscription plans to its users at a price as mentioned below:-</p>

<p>$289 per annum.</p>

<p>6.2 You shall be required to subscribe to any one of the above-mentioned subscription plans at the time of registering on our website.</p>

<p>6.3 All payments hereunder shall be made in Australian Dollar and via PAYPAL.</p>

<p>6.4 If you make a payment by debit or credit card, you warrant that the information you provide to us is true and complete, that you are authorised to use the debit or credit card to make the payment, that your payment will be honoured by your card issuer, and that you will maintain sufficient funds in your account to cover the purchase price.</p>

<p>6.5 Our website uses third-party payment providers to receive payments and we shall not be responsible for delays or erroneous transaction execution or cancellation due to payment issues. We take utmost care to work with 3rd party payment providers, but do not control their systems, processes, technology and workflows, hence cannot be held responsible for any fault at the end of payment providers.</p>

<p>6.6 Our pricing structure/subscription plans or payment methods may be amended from time to time in our sole discretion.</p>
</div>
<div class="terms-and-conditions-container"><h2>PROHIBITED USE:</h2>
<p>7.1 You agree to use the service in a manner that is lawful, relevant and proper to the applicable forum. Any use of the service that our website, in its sole discretion, finds inappropriate or offensive or contrary to these terms of use may result in suspension or termination of your usage/account with or without notice. Our website reserves the right to suspend or terminate your account with or without notice at any time in its sole discretion, for any reason or no reason. In the event of any suspension or termination, you agree to make no further use of the Service after termination or during suspension.</p>

<p>7.2 You understand and agree not to, and not to permit or encourage anyone else to, do any of the following in connection with the service:</p>
<ol>
 	<li>a) Defame, abuse, harass, harm, stalk, threaten or otherwise violate the legal rights (including without limitation rights of privacy and publicity) of others;</li>
 	<li>b) Publish, post, upload, distribute or disseminate any profane, defamatory, infringing, hateful, distasteful, obscene or unlawful topic, name, information, materials or content;</li>
 	<li>c) Use the service or engage with other users for any purpose that is in violation of local, state, national, or international law, rule or regulation, including without limitation wage and hour and working condition laws and regulations;</li>
 	<li>d) Upload files that contain software or other material that violates the rights of any third party, including without limitation intellectual property rights or rights of privacy or publicity;</li>
 	<li>e) Upload files that contain viruses, Trojan horses, worms, time bombs, spiders, cancelbots, corrupted files, or any other similar software, malware or materials that may damage, interfere with, disrupt, impair, disable or otherwise overburden the operation of any device, computer system or network;</li>
 	<li>f) Take any action that would undermine any aspect of the service or use the service in any manner that could interfere with, disrupt, or inhibit other users from fully enjoying the service or that could damage, disable, overburden or impair the functioning of the service in any manner;</li>
 	<li>g) Attempt to gain unauthorized access to the service, other user accounts, or other devices, computer system or networks connected to the service;</li>
 	<li>h) Harvest or otherwise collect information about users without their consent;</li>
 	<li>i) Advertise or offer to sell any goods or services for any commercial purpose (except as expressly set forth herein) on the service that are not appropriate or relevant to the service;</li>
 	<li>j) Conduct or forward pyramid schemes, chain letters, surveys or contests on or through the service, except where sponsored or created by our website;</li>
 	<li>k) Impersonate another person or allow any other person or entity to use your username, password or membership;</li>
 	<li>l) Post the same content repeatedly or spam - spamming is strictly prohibited;</li>
 	<li>m) Download any file posted by another user that you know, or reasonably should know, cannot be legally distributed through the service;</li>
 	<li>n) Access, download, or copy any information, content and/or materials from the service through artificial means (including without limitation spiders, scrapers, hacking devices, computer programs, bots or other such means);</li>
 	<li>o) Reproduce, duplicate, copy, sell, re-sell or exploit any information, materials or content on the Service; and/or</li>
 	<li>p) Restrict or inhibit any other User from using and enjoying the Service.</li>
</ol>
<p>7.3 Our website reserves all of its rights including without limitation its right to remove anything objectionable to our website in its sole discretion. You may report any alleged improprieties by any user to us by email at <a href="mailto:talk@findingfranky.com.au">talk@findingfranky.com.au</a> . However, enforcement of these terms of use is solely at our discretion, and failure to enforce in some instances does not constitute a waiver of our right to enforce in other instances. In addition, these terms of use do not create any private right of action on the part of any user or third party or any reasonable expectation that the service will not contain any content or conduct that is prohibited by such Terms of Use.</p>

<p>7.4 The Service is for the use of individuals only and may not be used in connection with any commercial endeavours without the express written consent of our website.</p>
</div>
<div class="terms-and-conditions-container"><h2>CANCELLATION: </h2>
<p>8.1 If you wish to cancel your membership with Finding Franky PTY LTD please contact <a href="mailto:talk@findingfranky.com.au">talk@findingfranky.com.au</a>. We will then not renew your membership for the following year.</p>
</div>
<div class="terms-and-conditions-container"><h2>NO PROFESSIONAL ADVICE; INFORMATION ONLY:</h2>
<p>9.1 The information contained in this website is for general information purposes only. The information is provided by us and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information or services contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

<p>9.2 It is strongly recommended that you verify all qualifications, insurance cover and membership details of the individual or service you choose to engage with. We cannot and will not be held responsible for any false information.</p>

<p>9.3 All content displayed on our website is provided for general information only, and should not be treated as a substitute for the medical advice of your own doctor or any other healthcare professional. Our website is not responsible or liable for any diagnosis made by a user based on the content of the website.</p>

<p>9.4 Our website and/or its directors shall have no liability at all for direct or indirect, special or consequential damages, relating in any way to the information provided. Our website is not in any way responsible for any claim made, or any information provided. An entry does not mean that our website endorses or accredits the qualifications and/or skills of counsellors appearing in it.</p>
</div>
<div class="terms-and-conditions-container"><h2> USER CONTENT:</h2>
<p>10.1 Our website acts as a passive conduit for user content, and users, not our website, are solely responsible for the user content they post, submit or transmit through the service. User content, including without limitation in connection with registration and users' profiles, is self-reported and you understand and agree that our website does not independently verify that any or all of the user content is accurate, appropriate, timely or complete.</p>

<p>10.2 You understand and agree that you make your own decisions and assessments about user content and about persons to engage or engagements to accept. Our website hereby expressly disclaims, and you hereby expressly release us from, any and all liability whatsoever for any controversies, claims, suits, injuries, harm, loss and/or damages, arising from and/or in any way related to any user content, including without limitation to any acts of or reliance upon other users with respect to such user content and/or any comments made by user about others.</p>

<p>10.3 You represent and warrant that you are the owner or licensee or otherwise have the right to post or submit such user content, and you grant to our website an irrevocable, perpetual, non-exclusive, fully paid, worldwide, sublicensable license to use, copy, perform, display, reproduce, adapt, modify, prepare derivative of, and distribute such user content and to incorporate such user content into other works.</p>

<p>10.4 You agree that you are solely responsible for any user content you post or submit, and you represent and warrant that any user content:</p>

<p>(A) shall not be inaccurate, untimely, incomplete, fraudulent or misleading, including without limitation in connection with registration, your profile and/or use of the Service;</p>

<p>(B) shall not infringe any third party's rights, including without limitation copyright, patent, trademark, trade secret or other proprietary right or rights of publicity or privacy;</p>

<p>(C) shall not violate any law, statute, ordinance, rule or regulation, including without limitation those governing export control, consumer protection, unfair competition, anti-discrimination, false advertising or the provision of child care, elder care or health care;</p>

<p>(D) shall not be defamatory, libellous, threatening, harassing, abusive, or inflammatory;</p>

<p>(E) shall not be obscene, indecent, suggestive, violent, offensive or contain pornography or be harmful to minors;</p>

<p>(F) shall not contain any viruses, Trojan horses, worms, time bombs, spiders, cancel bots, corrupted files, or any other similar software, malware or materials that may damage, interfere with, disrupt, impair, disable or otherwise overburden the operation of any device, computer system or network; and</p>

<p>(G) shall not create liability for us or cause us to lose (in whole or in part) the services of the website’s ISPs or other partners or suppliers. Our website may, but is not obligated to, review or delete any user content that, in our sole discretion, violates these terms of use.</p>

<p>10.5 Although our website has no obligation to screen, edit or monitor user content, our website reserves the right, and has absolute discretion, to remove, screen or edit user content or suspend or terminate your account for any reason or for no reason, including if it believes that any user content violates any of the foregoing rules. You agree to make no further use of the service during suspension or after termination. Enforcement of the user content rules set forth in these terms of use is solely at our website’s discretion, and failure to enforce such rules in some instances does not constitute a waiver of our right to enforce such rules in other instances. In addition, these rules do not create any private right of action on the part of any third party or any reasonable expectation that the service will not contain any content that is prohibited by such rules.</p>

<p>10.6 All reviews, comments, feedback, postcards, suggestions, ideas, and other submissions disclosed, submitted or offered to us on or by this site or otherwise disclosed, submitted or offered in connection with your use of this site (collectively, the "Comments") shall be and remain our property. Such disclosure, submission or offer of any comments shall constitute an assignment to us of all worldwide rights, titles and interests in all copyrights and other intellectual properties in the comments. Thus, we exclusively own all such rights, titles and interests and shall not be limited in any way in its use, commercial or otherwise, of any comments. We will be entitled to use, reproduce, disclose, modify, adapt, create derivative works from, publish, display and distribute any comments you submit for any purpose whatsoever, without restriction and without compensating you in any way.</p>

<p>10.7 We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay you any compensation for any comments; or (3) to respond to any comments. You agree that any comments submitted by you to the site will not violate this policy or any right of any third party, including copyright, trademark, privacy or other personal or proprietary right(s), and will not cause injury to any person or entity. You further agree that no comments submitted by you to the site will be or contain libellous or otherwise unlawful, threatening, abusive or obscene material, or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or any form of "spam".</p>

<p>10.8 Our website does regularly review posted comments, and does reserve the right (but not the obligation) to edit or remove any comments submitted to the site. You grant us the right to use the name that you submit in connection with any comments. You agree not to use a false email address, impersonate any person or entity, or otherwise mislead as to the origin of any comments you submit. You are and shall remain solely responsible for the content of any comments you make and you agree to indemnify us and our affiliates for all claims resulting from any comments you submit. We and our affiliates take no responsibility and assume no liability for any comments submitted by you or any third party.</p>
</div>
<div class="terms-and-conditions-container"><h2>INTELLECTUAL PROPERTY RIGHTS:</h2>
<p>11.1 All right, title, and interest in and to the website (excluding content provided by users) is and will remain the exclusive property of our website and our licensors. The website service is protected by copyright, trademark, and other laws of Australia. Nothing in these terms gives you a right to use the name of the website or website’s trademark or logo, or any other trademarks, logos, domain names, or other distinctive brand features relating to the website or located on the website.</p>

<p>11.2 Our website, its suppliers and licensors expressly reserve all intellectual property rights in all text, programs, products, processes, technology, content and other materials, which appear on this site. Access to this site does not confer and shall not be considered as conferring upon anyone any license under any of www.findingfranky.com.au or any third party's intellectual property rights. All rights, including copyright, in this website, are owned by or licensed to us or third-party suppliers. Any use of this website or its contents, including copying or storing it or them in whole or part, other than for your own personal, non-commercial use is prohibited without the permission of our website. You cannot modify, distribute or re-post anything on this website for any purpose. www.findingfranky.com.au names and logos and all related product and service and our slogans are the trademarks or service marks of our website. All other marks are the property of their respective companies. No trademark or service mark license is granted in connection with the materials contained on this site. Access to this site does not authorize anyone to use any name, logo or mark in any manner.</p>

<p>11.3 If you learn of any unlawful material or activity on our website, or any material or activity that breaches this notice, please inform us. We respect the intellectual property rights of others and expect users of the services to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are promptly and properly provided to us. If you have a reason to believe that your content has been copied in a way that constitutes copyright infringement, please provide us with the following information:</p>

<p>(i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf;</p>

<p>(ii) identification of the copyrighted work claimed to have been infringed;</p>

<p>(iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;</p>

<p>(iv) Your contact information, including your address, telephone number and an email address;</p>

<p>(v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</p>

<p>(vi) a statement that the information in the notification is accurate, and that you are authorized to act on behalf of the copyright owner.</p>

<p>11.4 We have the right to remove the content alleged to be infringing without prior notice, at our sole discretion, and without liability to you. In appropriate circumstances, we will also terminate a user’s account if we determine that the user is a repeat infringer.</p>

<p>11.5 While we are not obligated to review user-submitted materials for copyright infringement, we are committed to protecting copyrights and expect users of our website to do the same. If you believe in good faith that any material used or displayed on or through our website infringes your copyright, you (or your agent) may send us a notice requesting that the material is to be removed, or access to it blocked. The notice must include the information as stated in clause 11.3 above.</p>

<p>11.6 Notices regarding our website should be sent to talk@findingfranky.com.au (email address of our copyright agent to whom copyright infringement complaints can be filed).</p>

<p>11.7 We take the protection of our copyright very seriously. Thus, if we discover that you have infringed any of our copyright, we may bring legal proceedings against you, seeking monetary damages and/or an injunction to stop you from using those materials. You could also be ordered to pay legal costs.</p>
</div>
<div class="terms-and-conditions-container"><h2>LINKS TO THIRD PARTY SITES:</h2>
<p>12.1 The service may include links to other sites and services that are not operated by us. We are providing these links to you only as a convenience and are not responsible for the content or links displayed on such sites.</p>

<p>12.2 You are responsible for and assume all risk arising from your use or reliance of any third party sites. We may provide tools through the service that enable you to export information, including without limitation content, to third-party services. By using these tools, you agree that we may transfer such information to the applicable third-party service. Such third party services are not under our control, and we are not responsible for their use of your exported information.</p>

<p>12.3 Linked services created by third-party developers may be available on, through or in connection with our services. Linked services include applications, websites, desktop, wireless, mobile and other services available from third parties which can be installed onto your profile, or elsewhere on our services, shared with other members and  users on our services, otherwise accessed via our services, or which may link to your profile from outside of our services.</p>

<p>12.4 Third parties that offer linked services may also provide you with certain options and choices, but keep in mind that when you engage with a linked service, you are interacting with a third party, not with us. We do not control the third party, and cannot dictate its actions. If you choose to use a linked service, the linked service may collect, store, use and share your data in accordance with the terms of service (not our terms of Use/Service) and privacy policy of and your privacy settings (if any) on such linked service.</p>

<p>12.5 In addition, the third party providing the linked service may use other parties to provide portions of the service to you, such as technology, development or payment services. We may have limited control or no control at all over the content, operations, policies, terms, or other elements of linked service, and we do not assume any obligation to review any linked service. We do not endorse, approve, or sponsor any linked service, or any third-party content, advertising, information, materials, products, services, or other items.</p>

<p>12.6 We are not responsible for the quality or delivery of the services offered, accessed, obtained by or advertised at such linked services and make no warranties, express or implied, as to the linked services or the providers of such linked services (including, but not limited to, the privacy practices thereof). We encourage you not to provide any personally identifiable information to any linked service unless you know and are comfortable with the third party with whom you are interacting.</p>

<p>12.7 Finally, we will under no circumstances be liable for any direct, indirect, incidental or special loss or other damages, whether arising from negligence, breach of contract, defamation, infringement of copyright or other intellectual property rights, caused by the exhibition, distribution or exploitation of any information or content contained within linked services. Any activities you engage in with any of the same, including but not limited to the provision of content or data to them, are subject to the privacy and other policies, terms and conditions of use, and rules issued by the operator of the linked service so we encourage you to review them carefully.</p>
</div>
<div class="terms-and-conditions-container"><h2>TERMINATION:</h2>
<p>13.1 We may, at any time and without notice, suspend, cancel, or terminate your right to use the website (or any portion of the website). In the event of suspension, cancellation, or termination, you are no longer authorized to access the part of the website affected by such suspension, cancellation, or termination. In the event of any suspension, cancellation, or termination, the restrictions imposed on you with respect to material downloaded from the website and the disclaimers and limitations of liabilities set forth in the agreement, shall survive.</p>

<p>13.2 Without limiting the foregoing, we may close, suspend or limit your access to our website:</p>
<ul>
 	<li>if we determine that you have breached, or are acting in breach of, this agreement;</li>
 	<li>if we determine that you have breached legal liabilities (actual or potential), including infringing someone else's intellectual property rights;</li>
 	<li>if we determine that you have engaged, or are engaging, in fraudulent, or illegal activities;</li>
 	<li>to manage any risk of loss to us, a user, or any other person; or</li>
 	<li>For other similar reasons.</li>
</ul>
<p>13.3 If we find you breaching these terms of service, you may also become liable for an amount of which we have suffered losses/damages.</p>
</div>
<div class="terms-and-conditions-container"><h2>INDEMNIFICATION:</h2>
<p>You agree to defend, indemnify and hold harmless our company/website, its employees, directors, officers, agents and their successors and assigns from and against any and all claims, liabilities, damages, losses, costs and expenses, including attorney's fees, caused by or arising out of claims based upon your actions or inactions, which may result in any loss or liability to our website or any third party including but not limited to breach of any warranties, representations or undertakings or in relation to the non-fulfilment of any of your obligations under this User Agreement or arising out of your violation of any applicable laws, regulations including but not limited to intellectual property rights, payment of statutory dues and taxes, claim of libel, defamation, violation of rights of privacy or publicity, loss of service by other subscribers and infringement of intellectual property or other rights. This clause shall survive the expiry or termination of this User Agreement.</p>
</div>
<div class="terms-and-conditions-container"><h2> LIMITATION OF LIABILITY:</h2>
<p>15.1 WE SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES. WE SHALL ALSO NOT BE LIABLE FOR ANY DAMAGES OR LOSSES RESULTING FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE WEBSITE; (B) THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES; (C) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY USING THE WEBSITE, INCLUDING, BUT NOT LIMITED TO, ANY DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF MEMBERS AND OTHER USERS OR THIRD PARTIES; (D) ANY CONTENT OBTAINED FROM THE WEBSITE; OR (E) UNAUTHORIZED ACCESS, USE, OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.</p>

<p>15.2 THE LIMITATIONS OF THIS SECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, AND WHETHER OR NOT ANY OF THE WEBSITE ENTITIES HAS BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>

<p>15.3 IF ANY OF THE ABOVE LIMITATIONS DOES NOT APPLY TO YOU BECAUSE YOU ARE ACCESSING WEBSITE FROM A JURISDICTION THAT DOES NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, THESE LIMITATIONS WILL APPLY TO YOU TO THE MAXIMUM EXTENT ALLOWABLE UNDER APPLICABLE LAW.</p>
</div>
<div class="terms-and-conditions-container"><h2> DISCLAIMER OF WARRANTIES:</h2>
<p>16.1 ALL CONTENT AND SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS WEBSITE ARE PROVIDED “WITH ALL FAULTS” AND ON AN “AS IS” AND “AS AVAILABLE” BASIS, UNLESS OTHERWISE SPECIFIED IN WRITING. WE MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS WEBSITE OR THE CONTENT OR SERVICES INCLUDED ON, OR OTHERWISE MADE AVAILABLE TO YOU THROUGH, THIS WEBSITE, UNLESS OTHERWISE SPECIFIED IN WRITING, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE, NON-INFRINGEMENT, QUIET ENJOYMENT, AND ACCURACY. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS WEBSITE IS AT YOUR SOLE RISK.</p>

<p>16.2 We make no warranty that the website or services will meet your requirements, or that the website and/or services will be uninterrupted, timely, secure, or error-free; nor do we make any warranty as to the results that may be obtained from the use of the website or services, or that defects in the website or services will be corrected. You understand and agree that you will be solely responsible for any damage to your device or loss of data that results from the download of any material and/or content. No advice or information, whether oral or written, obtained by you from us through the website, services or otherwise will create any warranty, representation or guarantee not expressly stated in these terms of use.</p>

<p>16.3 We will not be responsible for any errors or omissions or for the results obtained from the use of such information or for any technical problems you may experience with the site. This disclaimer constitutes an essential part of this terms of use. In addition, to the extent permitted by applicable law, we are not liable, and you agree not to hold company responsible, for any damages or losses (including, but not limited to, loss of money, goodwill or reputation, profits, or other intangible losses or any special, indirect, or consequential damages) resulting directly or indirectly from:</p>
<ul>
 	<li>Your use of or your inability to use our website, services and tools;</li>
 	<li>Delays or disruptions in our website, services, or tools;</li>
 	<li>Viruses or other malicious software obtained by accessing our website, services, or tools or any site, services, or tool linked to our website, services, or tools;</li>
 	<li>Glitches, bugs, errors, or inaccuracies of any kind in our website, services, and tools or in the information and graphics obtained from them;</li>
 	<li>The content, actions, or inactions of third parties, including items listed using our website, services, or tools or the destruction of allegedly fake items;</li>
 	<li>A suspension or other action taken with respect to your account; and</li>
 	<li>The duration or manner in which, as a user, you upload, download, store and share file/content.</li>
</ul>
<p>16.4 Our website periodically schedules system downtime for the sites for maintenance and other purposes. Unplanned system outages also may occur. You agree that we have no responsibility and is not liable for: (a) the unavailability of any of the sites; (b) any loss of data, information or materials caused by such system outages; (c) the resultant delay, mis-delivery or non-delivery of data, information or materials caused by such system outages; or (d) any outages caused by any third parties, including without limitation any companies or servers hosting any of the sites, any Internet service providers or otherwise.</p>
</div>
<div class="terms-and-conditions-container"><h2> GOVERNING LAWS AND JURISDICTION:</h2>
<p>17.1 These Terms and any action related thereto will be governed by the laws of Australia.</p>

<p>17.2 Users agree to submit to the exclusive jurisdiction of the courts in Sydney, Australia in relation to proceedings arising out of this agreement.</p>
</div>
<div class="terms-and-conditions-container"><h2>DISPUTE RESOLUTION:</h2>
18.1 In case of any dispute with us in the most expedient and cost-effective manner, you and we agree that any and all disputes arising in <p>connection with the terms shall be resolved by binding arbitration. Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, may allow for more limited discovery than in court, and can be subject to very limited review by courts. Arbitrators can award the same damages and relief that a court can award. Our agreement to arbitrate disputes includes, but is not limited to all claims arising out of or relating to any aspect of the terms, whether based in contract, tort, statute, fraud, misrepresentation or any other legal theory, and regardless of whether the claims arise during or after the termination of the Terms. YOU UNDERSTAND AND AGREE THAT, BY ENTERING INTO THE TERMS, YOU AND WE ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.</p>

<p>18.2 The venue for arbitration shall be in Sydney and the language used for arbitration shall be English.</p>

<p>18.3 The award of the arbitration shall be binding on both, you and us.</p>

<p>18.4 If there is a dispute between users of the website or between users and any third party, you understand and agree that we are under no obligation to become involved. In the event that you have any such dispute between users and any third party, you hereby release us, our directors, officers, employees, service providers, affiliates, agents and successors from all claims, demands, and damages (actual and consequential) of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to such disputes.</p>
</div>
<div class="terms-and-conditions-container"><h2> PRIVACY:</h2>
<p>All personal information and user generated content provided to or displayed on the site and services are subject to our privacy statement.</p>
</div>
<div class="terms-and-conditions-container"><h2> NOTICE:</h2>
<p>20.1 By using the site and services, you accept that communication with us will be mainly electronic. We will contact you by email or provide you with information by posting notices on the site and services.</p>
<p>20.2 You acknowledge that all contracts, notices, information and other communication we may provide electronically comply with any legal requirements that such documents are in writing.</p>
<p>20.3 Notice will be deemed received and properly served immediately when posted on the site and services, 24 hours after an email is sent. As proof of service, it is sufficient that:</p>
<p>(a) the email was sent to the specified email address.</p>
</div>
<div class="terms-and-conditions-container"><h2> SPECIAL ADMONITIONS FOR INTERNATIONAL USE:</h2>
<p>The services of our website are available globally. By agreeing to our terms of use and other policies, you warrant that it is completely legal to use our services in your country. It is the duty of the user to verify any potential violation. You agree to indemnify us or sister companies, employees, agents or any related individual or organization for any liability it might incur in a foreign jurisdiction. Our services shall not be deemed to constitute an offer to sell or serve in countries where it is illegal to do so. We reserve the right to monitor the location from which users access our services and to block access from any jurisdiction in which participation is illegal or restricted.</p>
</div>
<div class="terms-and-conditions-container"><h2> NO WAIVER IMPLIED:</h2>
<p>The failure of us to enforce at any time any of the provisions of these of agreement, or the failure to require at any time performance by you of any of the provisions of these provisions, shall in no way be construed to be a present or future waiver of such provisions, nor in any way affect the our right to enforce each and every such provision thereafter. The express waiver by us of any provision, condition or requirement of these provisions shall not constitute a waiver of any future obligation to comply with such provision, condition or requirement.</p>
</div>
<div class="terms-and-conditions-container"><h2> SEVERABILITY:</h2>
<p>Each term shall be deemed to be severable. If any term or portion thereof is found to be invalid or unenforceable, such invalidity or unenforceability shall in no way affect the validity or enforceability of any other term.</p>
</div>
<div class="terms-and-conditions-container"><h2> ASSIGNMENT:</h2>
<p>24.1 You will not assign any rights or delegate any obligations under these terms, in whole or in part, by operation of law or otherwise, without obtaining our prior written consent, which may be withheld in our sole discretion.</p>

<p>24.2 We may assign our rights and delegate any of our obligations under these terms, in whole or in part, without your consent. Any assignment or delegation in violation of the foregoing will be null and void. These terms will be binding and inure to the benefit of each party’s permitted successors and assigns.</p>
</div>
<div class="terms-and-conditions-container"><h2> FORCE MAJEURE:</h2>
<p>We shall be under no liability to you in respect of anything that, if not for this provision, would or might constitute a breach of these terms, where this arises out of circumstances beyond our control, including but not limited to:</p>

<p>(a) acts of god;</p>

<p>(b) natural disasters;</p>

<p>(c) sabotage;</p>

<p>(d) accident;</p>

<p>(e) riot;</p>

<p>(f) shortage of supplies, equipment, and materials;</p>

<p>(g) strikes and lockouts;</p>

<p>(h) civil unrest;</p>

<p>(i) Computer hacking; or</p>

<p>(j) malicious damage.</p>
</div>
<div class="terms-and-conditions-container"><h2> ELECTRONIC COMMUNICATION:</h2>
<p>26.1 By using our services, you are deemed to have executed this agreement electronically, effective on the date you register your account and/or start using our services. Your account registration constitutes an acknowledgement that you are able to electronically receive, download, and print this agreement.</p>

<p>26.2 In connection with this agreement, you may be entitled to receive certain records, such as contracts, notices, and communications, in writing. To facilitate your use of the website, you give us permission to provide these records to you electronically instead of in paper form.</p>

<p>26.3 By registering for an account, you consent to electronically receive and access, via email, all records and notices for the services provided to you under this agreement that we would otherwise be required to provide to you in paper form. However, we reserve the right, in our sole discretion, to communicate with you via the Postal Service and other third-party email services using the address under which your account is registered. Your consent to receive records and notices electronically will remain in effect until you withdraw it. You may withdraw your consent to receive further records and notices electronically at any time by contacting Customer Support. If you withdraw your consent to receive such records and notices electronically, we will terminate your access to the services, and you will no longer be able to use the services. Any withdrawal of your consent to receive records and notices electronically will be effective only after we have a reasonable period of time to process your request for withdrawal. Please note that your withdrawal of consent to receive records and notices electronically will not apply to records and notices electronically provided by us to you before the withdrawal of your consent becomes effective.</p>

<p>26.4 In order to ensure that we are able to provide records and notices to you electronically, you must notify us of any change in your email address by updating your Account information on the website or by contacting Customer Support.</p>
</div>
<div class="terms-and-conditions-container"><h2> LEGAL COMPLIANCE:</h2>
<p>27.1 In addition to this agreement, you must familiarise yourself with, and comply with the Policies, domestic laws (including common law), state legislation, international laws, statutes, ordinances and regulations regarding your use of our services. Notwithstanding successful conclusion of a transaction, you must ensure strict compliance with any particular formalities which, if not complied with, will either render a transaction void or unlawful.</p>

<p>27.2 You alone, and not we, are responsible for ensuring that the services and any other activities conducted on the website are lawful.</p>
</div>
<div class="terms-and-conditions-container"><h2> ENTIRE AGREEMENT:</h2>
<p>These Terms collectively represent the entire agreement and understanding between you and us and supersede any other agreement or understanding (written, oral or implied) that you and we may have had. Any statement, inducement, promise, covenant or condition not expressly found either in these terms shall be deemed as void.</p>
</div>
<div class="terms-and-conditions-container"><h2> CONTACT US:</h2>
<p>For any further clarification of our Terms and Conditions, please write to us at <a href="mailto:talk@findingfranky.com.au">talk@findingfranky.com.au</a>, <a href="mailto:info@findingfranky.com.au">info@findingfranky.com.au</a></p></div>