/*
Theme Name: DocDirect Child
Description: Child theme for DocDirect. Child themes are the recommended way of making modifications to a theme. <a href="http://codex.wordpress.org/Child_Themes">Read More</a>
Author: Themographics
Author URI: http://themeforest.net/user/themographics
Template: docdirect
*/


/* =Theme customization starts here
-------------------------------------------------------------- */

/*@font-face {
    font-family: 'bebas_neuebold';
    src: url('./font/bebasneue_bold-webfont.woff2') format('woff2'),
         url('./font/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'bebas_neuebold';
    src: url('./font/BebasNeueBold.eot'); /* IE9 Compat Modes */
    src: url('./font/BebasNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/BebasNeueBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./font/BebasNeueBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/BebasNeueBold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('./font/Georgia.eot?#iefix') format('embedded-opentype'),  
  url('./font/Georgia.woff') format('woff'), 
  url('./font/Georgia.ttf')  format('truetype'), 
  url('./font/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font: 400 14pt/16.8pt 'Georgia', Arial, Helvetica, sans-serif;
    color: #595959;
}
body a,
body p a {
	color: #595959;
}

body a:hover, 
body p a:hover, 
body p a:active, 
body p a:focus, 
body .tg-widget ul li a:hover {
    color: #6bb4f7;
}

body .pin {
    background: #6bb4f7;
}

body .pulse:after {
    -webkit-box-shadow: 0 0 1px 2px #6bb4f7;
    box-shadow: 0 0 1px 2px #6bb4f7;
}

body p{
    margin-bottom: 20px;
}
body p{
    line-height: 16.8pt;
}

body .tg-home-wrapper h1, 
body .tg-home-wrapper h2, 
body .tg-home-wrapper h3, 
body .tg-home-wrapper h4, 
body .tg-home-wrapper h5, 
body .tg-home-wrapper h6 {
	color: #595959 !important;
} 
.color-black {
	color: #595959 !important;    
}
/* ================================================================================================================= 
													Header
====================================================================================================================*/

.tg-navigationarea.custom-header-menu nav ul li a:hover{ color:#5d5955;}
.tg-inner-header .tg-navigationarea.custom-header-menu {
    width: 100%;
    float: none;
    border-bottom: 0px solid #ddd;
    text-align: center;
}

.tg-logoarea.custom-header-logo {
    text-align: center;
    position: relative;
    z-index: 999;
}

.tg-logoarea.custom-header-logo .logo {
    float: none;
    padding: 20px 0;
    display: inline-block;
}

.bebas{
    font-family: 'bebas_neuebold';
}

.tg-navigationarea.custom-header-menu nav ul li a {
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-size: 17.819pt;
    line-height: 21.383pt;
    letter-spacing: 2px;
}

.tg-navigationarea.custom-header-menu nav ul li {
    padding: 20px 15px;
}

.tg-nav ul li:after{
    display: none;
}

header#header {
    background: linear-gradient(to left bottom, #c3daec 50%, #afcfec 50%);
    background: -moz-linear-gradient(to left bottom, #c3daec 50%, #afcfec 50%); /* FF3.6+ */
    background: -webkit-gradient(to left bottom, #c3daec 50%, #afcfec 50%); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(to left bottom, #c3daec 50%, #afcfec 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(to left bottom, #c3daec 50%, #afcfec 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(to left bottom, #c3daec 50%, #afcfec 50%); /* IE10+ */
    background: linear-gradient(to left bottom, #c3daec 50%, #afcfec 50%); /* W3C */
    border: none;
}

.tg-logoarea.custom-header-search-btn {
    text-align: center;
    padding-top: 90px;
}

.tg-logoarea.custom-header-search-btn img {
    width: 100%;
}

.tg-logoarea.custom-header-search-btn img {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0;
    margin: 0 auto;
}

.search-btn-wrapper {
    position: relative;
    z-index: 2;
}

.search-inner-wrapper a, 
.search-inner-wrapper a:focus, 
.search-inner-wrapper a:active {
    /* background: url(img/start-btn.png); */
    background: url(img/starthere.svg);
    width: 300px;
    height: 146px;
    background-position: center 0;
    background-repeat: no-repeat;
    padding-top: 68px;
    border: none;
}

.search-btn-wrapper a:hover {
    color: #fff;
}

.search-inner-wrapper a, 
.search-inner-wrapper a:focus, 
.search-inner-wrapper a:active {
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-weight: normal;
    font-size: 30pt;
    line-height: 29pt;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'bebas_neuebold';
    box-shadow: none;
}

.tg-login-logout li ul {
    z-index: 9999;
}

.custom_user_registration .tg-login-logout > li > a:after {
    display: none;
}

span.login-title {
    display: block;
    background-color: #3b3b3b;
    padding: 5px 15px;
    color: #fff;
    text-align: center;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-weight: 600;*/
}

.doc-menu.custom_user_registration a, .doc-menu.custom_user_registration span {
    letter-spacing: 3px;
    font-family: 'bebas_neuebold';
    font-size: 24px;
    /*padding-left: 0;*/
    line-height: 30px;
    font-weight: normal;
}

.doc-menu.custom_user_registration span.login-title a {
    color: #fff;
}

span.login-btn a,
span.join-btn a {
    color: #fff;
}

.doc-menu.custom_user_registration .session-user-info span{
    border: 2px solid #fff;
    background-color: transparent;
    padding: 4px 10px;
}

.mac_os .doc-menu.custom_user_registration .session-user-info span{
    padding: 8px 10px 4px;
}

.logged-in .doc-menu.custom_user_registration .session-user-info span {
    border: 0px solid #fff;
    background-color: transparent;
    padding: 0;
}

.doc-menu.custom_user_registration span {
    margin-bottom: 8px;
}

.doc-menu.custom_user_registration .session-user-info li a {
    font-size: 18px;
}

.tg-inner-header .tg-navigationarea .doc-menu.custom_user_registration {
    display: block;
    position: absolute;
    right: -20%;
    z-index: 9999;
}

.doc-menu.custom_user_registration .tg-login-logout > li {
    position: relative;
    padding: 0px;
    float: none;
    display: inline-block;
}

span.join-btn, span.login-btn {
    color: #fff;
    padding: 5px 10px;
}

span.join-btn {
    margin-right: 0px;
    background-color: #595959;
}

span.login-btn {
    background-color: #a0a0a0;
}

.doc-menu.custom_user_registration {
    position: absolute;
    right: 10px;
    top: 45px;    
}

/* ==========================================================================================================================
                                                                Home 
============================================================================================================================= */

.home-full-section {
    /*background: url(img/dotted_line.jpg);*/
    background: url(img/line.svg);
    display: block;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px 0 30px 0;
    width: 100%;
    margin: 20px 0;
    background-size: cover;
}

.intro-content p {
    font-size: 20pt;
    line-height: 30pt;
    margin-bottom: 0px;
    font-family: 'Georgia';
    font-weight: 400;
    letter-spacing: 1.5px;
}

.intro-content {
    padding-bottom: 30px;
}

.home-full-section .bebas {
    font-size: 24pt;
    margin: 35px 0 0 0;
    letter-spacing: 4px;
    font-family: 'Georgia';
    text-transform: uppercase;
    line-height: 28.8pt;
}

.home-full-section p {
    padding: 0px 0;
    font-size: 14pt;
    font-family: 'Georgia';
    font-weight: 400;
    line-height: 16.8pt;
}

h1.home-intro-title {
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-size: 40.37pt;
    line-height: 48.444pt;
    letter-spacing: 6px;
    margin: 15px 0 5px 0;
    text-transform: uppercase;
    color: #5d5955;
}

.tg-home-wrapper {
    padding: 50px 0 50px 0;;
}

.three_block_wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.home-img-wrapper img {
    margin: 0 auto;
    margin-bottom: 20px;
}

.home-content-wrapper h1 {
    font-size: 40.37pt;
    font-family: 'bebas_neuebold';
    line-height: 36.444pt;
    margin: 15px 0 5px 0;
    letter-spacing: 5px;
    min-height: 85px;
    font-weight: normal;
}

.home-content-section {
    padding: 40px 0 30px 0;
}

.home-content-section .container {
    border-bottom: 2px dotted #ccc;
}

.perfect-content {
    text-align: center;
    margin: 0 auto;
}

.perfect-content p {
    margin-bottom: 0;
    font-family: 'Georgia';
    font-size: 14pt;
    font-weight: 400;
    line-height: 16.8pt;
}

.perfect-content h1 {
    font-family: 'bebas_neuebold';
    font-size: 40.37pt;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 48.44pt;
    margin: 0;
}

.home-content-wrapper p {
    font-size: 14pt;
    line-height: 16.8pt;
    font-family: 'Georgia';
    font-weight: 400;
}

.emergency-btn-wrapper {
    text-align: center;
}

.custom-emergency-btn {
    background-color: #b10000;
    border-radius: 0;
    border: 1px solid #b10000;
    color: #fff;
    font-family: 'bebas_neuebold';
    font-size: 54.37pt;
    letter-spacing: 5px;
    margin: 15px 0;
    padding: 15px 50px 10px 50px;
    text-transform: uppercase;
    line-height: 65.244pt;
    font-weight: normal;
}

.custom-emergency-btn:hover, .custom-emergency-btn:active, .custom-emergency-btn:focus {
    background-color: #fff;
    color: #b10000;
    border: 1px solid #b10000;
}

.perfect-content a,.perfect-content a:hover,
.three_block_wrapper a,.three_block_wrapper a:hover {
    text-decoration: underline;
    color: #595959;
}

.three_block_wrapper.free-test-drive a, .three_block_wrapper.frankys-tips a, .three_block_wrapper.couples-counselling a {
    color: #afcfec;
}

/* ================================================================================================================= 
													Footer
====================================================================================================================*/

.tg-userschedule ul li em, .tg-userschedule ul li span {
    font-size: 14pt;
    line-height: 16.8pt;
    color: #999;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Georgia';
}

.custom-footer .tg-widget > div {
    padding: 0;
    border: 0px solid #ddd;
}

.tg-threecolumn.custom-footer {
    background: #595959;
    border: none;
}

.tg-threecolumn.custom-footer h4 {
    text-transform: uppercase;
    font-family: 'Georgia';
    letter-spacing: 3px;
    font-size: 15pt;
    line-height: 16.68pt;
}

.tg-threecolumn.custom-footer p {
    font-family: 'Georgia';
    font-size: 14pt;
    line-height: 19pt;
    font-weight: 400;
}

.tg-threecolumn.custom-footer .widget_nav_menu ul li a {
	color: #fff;
    font-size: 14pt;
    line-height: 19pt;
    font-weight: 400;
}

.tg-threecolumn.custom-footer .widget_nav_menu ul li {
	list-style-type: none;
}

.tg-threecolumn.custom-footer .widget_nav_menu ul li:hover {
    padding-left: 0;
}

.tg-threecolumn.custom-footer .textwidget a {
    color: #fff;
}

.footer-social {
    text-align: center;
    float: none;
}



/* ================================================================================================================= 
                                                    Single Page
====================================================================================================================*/

.page .tg-pagebar h1   {
    color: #595959;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 5px;
    font-family: 'bebas_neuebold';
    padding-bottom: 30px;
}
/*.page .tg-pagebar .col-xs-12 {
    border-bottom: 2px dotted #858585;
}*/

.page .tg-pagebar, .single .tg-pagebar, .blog .tg-pagebar {
    background: none;
    padding: 70px 0 0;
}
.emer_cnt {
    text-align: center;
}
.emer_cnt p {
    padding-bottom: 40px;
    color: #595959;
}
.emer_cnt strong {
    color: #595959;
}
.page .tg-page-wrapper,.single .tg-page-wrapper {
    padding: 50px 0 40px;
}
section.tg-main-section.haslayout.emer_cnt.default {
    padding: 0;
}

/* ================================================================================================================= 
                                                    Franky Story
====================================================================================================================*/
.page.frankys-story .tg-page-wrapper {
    padding: 0px 0 0px;
}

.story_inn h4 {
    color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 36.444pt;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.story_inn p {
    margin-bottom: 10px;
}

.story_inn {
    padding: 50px 40px 50px 40px;
    border-bottom: 2px dotted #858585;
}

.story_inn.last-child {
    border-bottom: none;
}

.frankys-story section.tg-main-section.haslayout.pg_cnt.default {
    padding: 0px 0px 0px 0px;
}

.frankys-story.page .tg-pagebar .col-xs-12 {
    border-bottom: none;
}

.frankys-story.page .tg-pagebar .sub_header {
    border-bottom: 2px dotted #858585;
}

.tg-description ul li {
    line-height: 28px;
}

.prob_list {
    padding-bottom: 0px;
    background-color: transparent;
    margin-bottom: 15px;
    border-bottom: 0px dotted #858585;
    margin-top: 15px;
}

.prob_list a h1 {
    color: #595959;
    font-size: 24pt;
    letter-spacing: 5px;
    line-height: 36.444pt;
    font-family: 'bebas_neuebold';
    text-align: left;
    padding: 0px;
    margin: 0;
}
.prob_list a h1:hover {
    color: #6bb4f7;
}

.prob-inner-wrapper p {
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}

.theydo .prob_list a h1, .what-is-the-problem .prob_list a h1 {
    border-top: 2px dotted #858585;
    padding-top: 15px;
    margin-bottom: 5px;
}

.theydo .prob_list a.btn.custom-btn ,
.what-is-the-problem .prob_list a.btn.custom-btn {
    float: right;
}


/* ================================================================================================================= 
                                                    Franky 
====================================================================================================================*/
/* ================================================================================================================= 
                                                    Blog
====================================================================================================================*/

.sidebar-section .form-search fieldset input {
    font-family: 'bebas_neuebold';
    font-size: 26px;
    letter-spacing: 4px;
    color: #000;
}
.sidebar-section .tg-widget > h3 {
    /*font-family: 'Georgia';
    font-size: 18px;*/
    color: #545252;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'bebas_neuebold';
    letter-spacing: 2px;
    line-height: 36px;
    background: transparent;
}

.tg-widget > ul {
    border: none;
    border-bottom: 2px dotted #858585;
}

.tg-widget > ul > li + li {
    border-top: 1px dotted #858585;
}

.sidebar-section .tg-widget ul li a {
    font-family: 'Georgia';
    font-weight: 200;
}
.sidebar-section .cat-item a{
    font-family: 'Georgia';
}
.sidebar-section  .tg-widget ul li time {
    color: #505050 
}

.blog_section .tg-heading-border h3 a {
    color:#595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    line-height: 36.44pt;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.blog_section .tg-heading-border h3 {
    border-bottom: none;
    padding: 0px 0 0px 0;
}

.blog_section .tg-heading-border {
    border-bottom: 0px dotted #858585;
}

.blog_section .tg-post {
    padding: 0px 0px 30px;
    border: none;
    border-bottom: 2px dotted #858585;
    margin-bottom: 50px;
}

.blog_section a.tg-btn {
    border: none;
    padding: 0;
    text-decoration: underline;
    text-transform: inherit;
    display: inline-block;
    line-height: 16px;
    font-family: 'Georgia';
    font-size: 16px;
}

.blog_section .tg-description p {
    margin-bottom: 0;
    display: inline;
    font-family: 'Georgia';
}

.blog_section a.tg-btn:hover, .blog_section a.tg-btn:active, .blog_section a.tg-btn:focus, .blog_section a.tg-btn:visited {
    background: none;
    color: #505050 !important;
}

/*.blog .tg-pagebar{display:none;}*/

.social-share {
    border: none;
}

/*.single .tg-pagebar h1{
    display:none;
}*/

.single .tg-title h1 {
    color: #595959;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 5px;
    font-family: 'bebas_neuebold';
    padding-bottom: 30px;
    margin: 0px;
}

.single .tg-title {
    border-bottom: 2px dotted #858585;
}

.single .tg-description {
    margin-top: 20px;
}

/* ================================================================================================================= 
                                                What is the Problem 
====================================================================================================================*/
.what-is-the-problem.page .tg-pagebar .sub_header {
    border-bottom: 2px dotted #858585;
}
.what-is-the-problem.page .tg-pagebar .col-xs-12 {
    border-bottom: none;
}

.problem-listing-sidebar .panel-body {
    padding: 15px 0;
    border-top: 0px solid #ddd;
}

.problem-listing-sidebar .panel-default>.panel-heading {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}
.problem-listing-sidebar .panel {
    border: none;
    box-shadow: none;
}

.problem-listing-sidebar h4.panel-title {
    display: inline-block;
    color: #545252;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'bebas_neuebold';
    letter-spacing: 2px;
    line-height: 36px;
    padding: 8px 0;
    display: block;
}

.problem-listing-sidebar h4.panel-title a {
    color: #545252;
    display: block;
}
.problem-listing-sidebar h4.panel-title a .collapseToggle {
    margin-top: 0;
}

.panel-group.problem-listing-sidebar #what-is-the-problem .panel-body {
    border-top: 0;
    padding-top: 5px;
}

.custom-problem-dropdown {
    padding-bottom: 50px;
}

.click-here-content-btn,
.click-here-content-btn:focus,
.click-here-content-btn:active {
    color: #afcfec;
}

/* ================================================================================================================= 
                                                What do they do 
====================================================================================================================*/
.what-do-they-do.page .tg-pagebar .sub_header {
    border-bottom: 2px dotted #858585;
}
.what-do-they-do.page .tg-pagebar .col-xs-12 {
    border-bottom: none;
}

/* ================================================================================================================= 
                                                    Search Page 
====================================================================================================================*/

body .doc-featurehead h2 a {
    color: #595959;
    font-family: 'bebas_neuebold';
    font-size: 24pt;
    line-height: 36.44pt;
    letter-spacing: 2px;
}

body .doc-featurehead h2 a:hover{
    color: #6bb4f7;
}

body .doc-featurehead > span {
    font-size: 16px;
    font-family: 'bebas_neuebold';
    color: #595959;
    letter-spacing: 2px;
    line-height: 24px;
}

.doc-featurecontent p,.doc-featurecontent .doc-addressinfo {
    font-size: 14pt;
    line-height: 16.8pt;
    color: #595959;
}

.page-template-user_search.page .tg-pagebar .col-xs-12 {
    border-bottom: none;
}

body .doc-matadata li a {
    font-size: 16px;line-height: 16px;
    font-family: 'Georgia';
}
body .doc-featurehead {
    margin: 0 0 0px;
}
body .doc-addressinfo li i,body .doc-addressinfo li address,body .doc-addressinfo li span,body .doc-addressinfo li a {
    color: #595959;
    font-size: 14pt;
    line-height: 16.8pt;
}

.doc-doctorlisting .doc-featurelist {
    border-bottom: 2px dotted #858585;
    padding-bottom: 65px;
    margin: 65px 0 0 0;
}
.tg-userdetail .tg-aboutuser {
    margin-top: 0px;
}

.chosen-container-single .chosen-single div b {
    background: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.author .tg-doctor-profile li div {
    display: inline-block;
    text-transform: uppercase;
}
.author .tg-listview-v3 .tg-doctor-profile .tg-tags li {
    float: left;
    list-style-type: disc;
    margin: 0 0px 0 0;
    width: auto;
}

.tg-doctor-profile li {
    font-size: 14pt;
    line-height: 18.8pt;
    font-family: 'Georgia';
    text-transform: uppercase;
}

/* =============================================== Search Widget ============================================= */
.tg-geolocationicon .locate-me-wrap .geodistance {
    position: absolute;
    top: 30%;
    right: 20px;
    height: 6px;
    display: block;
    margin: -5px 0 0;
}

.doc-widgetsearch .doc-widgetheading h2 {
    display: inline-block;
    color: #545252;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'bebas_neuebold';
    letter-spacing: 2px;
    line-height: 36px;
    padding: 8px 0;
}

.collapseToggle{
    float: right;
    font-size: 25px;
    margin-top: 13px;
    cursor: pointer;
}

.doc-widgetsearch .doc-widgetcontent{text-transform: uppercase; font-family: 'Georgia'; font-size: 14px; padding: 20px 20px;}

.doc-widgetsearch .formInput {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Georgia';
}

.doc-widgetsearch.doc-widgetsearch.doc-widgetsearch.doc-widgetsearch .doc-widgetcontent label {
    font-family: 'Georgia';
    font-size: 16px;
    /*margin-bottom: 15px;*/
    display: block;
    letter-spacing: 2px;
    line-height: 36px;
    font-weight: bold;
}

.doc-formsearchwidget.search-result-form .doc-btnarea .doc-btn {
    padding: 5px 12px;
    background: transparent !important;
    color: #595959;
    font: 13px/30px 'Montserrat', Arial, Helvetica, sans-serif;
    border-radius: 0;
}

.doc-widget.doc-widgetsearch {
    margin: 0 0 23px 0;
}

.doc-formsearchwidget.search-result-form .doc-btnarea {
    margin: 0px 0 0;
}

.doc-widgetsearch ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-transform: uppercase;
}
.doc-widgetsearch ::-moz-placeholder { /* Firefox 19+ */
  text-transform: uppercase;
}
.doc-widgetsearch :-ms-input-placeholder { /* IE 10+ */
  text-transform: uppercase;
}
.doc-widgetsearch :-moz-placeholder { /* Firefox 18- */
  text-transform: uppercase;
}
.doc-widgetsearch select{text-transform: uppercase;}
body .doc-formsearchwidget .doc-btnarea .doc-btn:hover{
    border-color: #6bb4f7 !important;
    background: #6bb4f7 !important;
}

.doc-doctorlisting .doc-select select, 
.doc-select .chosen-container-single .chosen-single, 
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    text-transform: uppercase;
}

/************* Dashboard Page*****************************/
.page.page-template-directory .spacer{width: 100%; clear: both; height: 30px;}
.page.page-template-directory .tg-inputicon i{   
    position: absolute; 
    top: 12px;
    left: 0;
    color:  #C3DAEC;
    font-size: 19px;
}
.page.page-template-directory .tg-inputicon .schedule-pickr{
    margin-left: 20px;
}
.page.page-template-directory .tg-docschedule label{padding-top: 12px;}
.page.page-template-directory label{font-weight: normal;}
.page.page-template-directory .tg-bordertop, .page.page-template-directory .tg-editprofile{border-bottom: 2px dotted #858585; clear: both;}
.page.page-template-directory .tg-editimg{border: none; padding: 0;}
.page.page-template-directory .tg-formsection{background: no-repeat; padding: 30px 0px 15px;}
.page.page-template-directory .tg-heading-border h3{
border: none; 
    /*font-size: 18px; 
    font-family: 'Georgia';*/ 
    font-weight: normal;
    color: #545252;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'bebas_neuebold';
    letter-spacing: 2px;
    line-height: 30px;
    background: transparent;
    }
.page.page-template-directory .tg-pagebar h1{float: none; text-align: center;}
h2.heading{
    color: #595959;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 5px;
    font-family: 'bebas_neuebold';
    padding-bottom: 30px; 
}
.page.page-template-directory .tg-heading-border.tg-small{margin-bottom: 5px;}

/*********test-drive***********/
.test-drive.page .tg-pagebar h1{float: none; text-align: center;}
.test-drive h2{color: #595959; font-size: 24pt; line-height: 36.44pt; font-family: 'bebas_neuebold';}
.main-page-wrapper p {
    font-size: 14pt;
    line-height: 16.8pt;
    font-family: 'Georgia';
    margin-bottom: 10px;
}

.test-drive .gform_wrapper .top_label .with_label .gfield_label{  
    display: inline-block;  float: left; padding-top: 19px; margin-right: 10px
}

body.test-drive  .gform_wrapper img.ui-datepicker-trigger{
    float: left; margin-top: 10px; margin-right: 10px;
}

.test-drive .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]).datepicker{
    width: 93.9%;
    margin-right: 0 !important; 
}

.gform_wrapper#gform_wrapper_3 .gfield_time_hour input, .gform_wrapper#gform_wrapper_3 .gfield_time_minute input {
    width: calc(3rem + 20px);
}

.gform_wrapper#gform_wrapper_3 .gfield_time_ampm select {
    min-width: calc(3rem + 40px);
    width: calc(3rem + 25px);
}

.gform_wrapper#gform_wrapper_3 .gfield_time_hour,
.gform_wrapper#gform_wrapper_3 .gfield_time_minute {
    margin-right: 1rem;
}

.gform_wrapper#gform_wrapper_3 .gfield_time_minute {
    max-width: 6rem;
}

.gform_wrapper#gform_wrapper_3 .gfield_time_hour {
    max-width: calc(6rem + .5rem);
}

.test-drive .gform_wrapper .top_label .with_label .gfield_label[for="input_3_5"] {
    margin-right: 0px;
}

.test-drive .gform_wrapper .top_label .gfield_label{display: none; font-weight: normal;}

.test-drive .border{clear: both;
    width: 100%;
    border-bottom: 2px dotted #858585;
     padding-top: 40px;
    height: 2px;
    margin-bottom: 15px;}
.test-drive .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
    padding-left: 10px;
    padding-right: 10px;
}
.test-drive .gform_wrapper .top_label .time-label .gfield_label{    background-image: url(./img/time.png);
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: right 17px;
    padding-right: 55px;
}